{% extends 'website/layout/layout.website.html.twig' %}

{% block head %}
    <style type="text/css">
        .slider-item .single-slider-item {
            height: 450px;
            padding-top: 300px;
            background-size: cover !important;
        }

        .header-section {
            background: rgb(251, 247, 247);
        }

        .inner-header .main-menu ul li a {
            color: #7e8485;
        }
    </style>
{% endblock %}

{% block carousel %}
    <div class="hero-slider">
        <div class="slider-item">
            <div class="single-slider-item "
                 style='background-image: url("{{ front.section.image.publicFilename }}"); background-size: 100%;
                         background-repeat: no-repeat'></div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <article class="container mt-4">
        <div class="row">
            <div class="col-12">
                <a href="{{ path('website.section', {'slug': front.section.slug, 'id': front.section.id}) }}"
                   class="btn
                btn-purple mb-5" style="margin-left: 2%">RETOUR</a>
            </div>
            <div class="col-12">
                <h1 class="title-product text-center h1 suggest mb-5">{{ front.graphicRuleProduct.product.name }}</h1>
            </div>
            <div class="col-lg-6">
                <div class="card border-0">
                    <div class="card-body">
                        <div id="slide" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                {% if front.graphicRuleProduct.images|length == 1 %}
                                    <img class="lazyload" src="/website/img/lazy-font.png"
                                         data-src="{{ front.graphicRuleProduct
                                         .images.0.publicFilename }}" alt="image">
                                {% elseif front.graphicRuleProduct.images|length > 1 %}

                                    {% set i = 0 %}

                                    {% for image in front.graphicRuleProduct.images %}

                                        {% if i == 0 %}
                                            <div class="carousel-item active">
                                                <img class="d-block w-200" src="{{ image.publicFilename }}"
                                                     alt="Image-slide">
                                            </div>
                                        {% else %}
                                            <div class="carousel-item">
                                                <img class="d-block w-200" src="{{ image.publicFilename }}"
                                                     alt="Image-slide">
                                            </div>
                                        {% endif %}
                                        {% set i = i + 1 %}
                                    {% endfor %}
                                    <a class="carousel-control-prev" href="#slide" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#slide" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card border-0">
                    {% if front.stock == 0 %}
                        <div class="card-header headband-stock-false">
                            <h1 class="card-title h6">Rupture de stock</h1>
                        </div>
                    {% else %}
                        <div class="card-header headband-stock-true">
                            <h1 class="card-title h6">En stock</h1>
                        </div>
                    {% endif %}
                    <div class="card-body">
                        {{ front.graphicRuleProduct.product.description|raw }}
                        <span class="price">{{ front.graphicRuleProduct.formattedPrice.0 }}<span
                                    class="decimal">{{ front.graphicRuleProduct.formattedPrice.1 }}</span> €</span>

                        {% if front.graphicRuleProduct.formattedPrice.3 is defined and front.graphicRuleProduct
                            .formattedPrice.4 is defined %}
                            - <span class="price">{{ front.graphicRuleProduct.formattedPrice.3 }}<span
                                    class="decimal">{{ front.graphicRuleProduct.formattedPrice.4 }}</span> €</span>
                        {% endif %}
                        <br>
                        <br>

                        {{ include('website/inc/form.product.html.twig') }}

                    </div>
                </div>
            </div>
        </div>
        <ul class="nav nav-pills mb-3 mt-5" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                   aria-controls="pills-home" aria-selected="true">DÉSCRIPTION</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                   aria-controls="pills-profile" aria-selected="false">INFORMATIONS COMPLEMENTAIRES</a>
            </li>
        </ul>
        <div class="tab-content font-lato" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                {% if front.graphicRuleProduct.description != null %}
                    {{ front.graphicRuleProduct.description|raw }}
                {% else %}
                    Aucune déscription
                {% endif %}
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                {% if front.graphicRuleProduct.product.dataComplement is not empty %}
                    <table class="table table-bordered tab-data-comp">
                        <tbody>
                        {% for dataComplement in front.graphicRuleProduct.product.dataComplement %}
                            <tr>
                                <th>{{ dataComplement.title|upper }}</th>
                                <td>{{ dataComplement.content }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    Aucune donnée complémentaire
                {% endif %}
            </div>
        </div>
    </article>

    {% if front.recommended != null %}
        <h1 class="text-center mb-5 mt-5 h1 suggest">PRODUITS APPARENTÉS</h1>
        <div class="container">
            <div class="row col-12">
                {% for product in front.recommended %}
                    {% if product is not empty %}
                        {% set gr_product = product.graphicRule %}
                        <article class="card col-sm-12 col-md-4 col-lg-3 mt-5 offset-1 card-product">
                            <a href="{{ path('website.product', {'slug': product.slug, 'id': product.id }) }}">
                                <img class="lazyload" src="/website/img/lazy-font.jpg" data-src="{{ gr_product.getSortedImage.0.publicFilename }}" alt="image">
                            </a>
                            <noscript>
                                <img src="{{ gr_product.sortedImage.0.publicFilename }}" alt="image">
                            </noscript>
                            <div class="card-body">
                                <p class="card-title h5 text-center mb-5 text-uppercase">{{ gr_product.product.name }}</p>
                            </div>
                            <div class="card-footer text-center btn-see">
                            <span class="price">{{ gr_product.formattedPrice.0 }}<span
                                        class="decimal">{{ gr_product.formattedPrice.1 }}</span> €</span>

                                {% if gr_product.formattedPrice.3 is defined and gr_product.formattedPrice.4 is defined %}
                                    <span class="price">{{ gr_product.formattedPrice.3 }}<span
                                                class="decimal">{{ gr_product.formattedPrice.4 }}</span> €</span>
                                {% endif %}

                                <a href="{{ path('website.product', {'slug': product.slug, 'id': product.id }) }}">
                                    <button class="btn btn-purple col-11" type="submit">VOIR</button>
                                </a>
                            </div>
                        </article>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}


{% endblock %} 
