<form method="post" action="">
    {{ csrf('POST') }}
    {{ form_bind(customer) }}

    <div class="row">
        <div class="col-6">
            {{ label({'value': 'Nom'}) }}
            {{ input({'name': 'last_name', 'placeholder': 'Nom du client'}) }}

            {{ label({'value': 'Prénom'}) }}
            {{ input({'name': 'first_name', 'placeholder': 'Prénom du client'}) }}

            {{ label({'value': 'Téléphone'}) }}
            {{ input({'type': 'text', 'name': 'phone', 'placeholder': 'Téléphone du client'}, ['tel']) }}

            {{ label({'value': 'Email'}) }}
            {{ input({'type': 'email', 'name': 'email', 'placeholder': 'Email du client'}) }}
        </div>
        <div class="col-6">
            {{ first() }}
            {{ label({'value': 'Numéro de rue'}) }}
            {{ input({'name': 'number_street', 'placeholder': 'Numéro de rue'}) }}

            {{ label({'value': 'Rue'}) }}
            {{ input({'name': 'street', 'placeholder': 'street'}) }}

            {{ label({'value': 'Code postal'}) }}
            {{ input({'name': 'postal_code', 'placeholder': 'Code postal'}) }}

            {{ label({'value': 'Ville'}) }}
            {{ input({'name': 'city', 'placeholder': 'Ville'}) }}

            {{ label({'value': 'Pays'}) }}
            {{ input({'name': 'country', 'placeholder': 'Pays'}) }}
        </div>
        <div class="col-12">
            {{ label({'value': 'Commentaire'}) }}
            {{ textarea({'name': 'comment', 'required': false}) }}

            {{ label({'value': customer.firstName ~ '' ~ customer.lastName ~ ' accepte les offres promotionnelle'}) }}
            {{ input({'type': 'checkbox', 'name': 'offer_accept', 'required': false, 'value': '1', 'checked': POST.offer_accept == 1 or customer.offerAccept == true ? true : false}) }}
        </div>
    </div>
    {{ input({'type': 'submit', 'value': 'Enregistrer', 'class': 'btn btn-success'}) }}
</form>
