{% extends 'manager/layout/layout.manager.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <a href="{{ path('admin.customer.show', {'id': customer.id}) }}" class="btn btn-primary float-xl-right">Retour</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Éditer un client</h4>
                    </div>
                    <div class="card-body">
                        {{ include('manager/customer/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="id-active">customer</div>
{% endblock %} 
