{% extends 'manager/layout/layout.manager.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <button class="btn btn-primary col-2" id="btn-copy" data-clipboard-text="
                        {% for customer in customers %}
                            {{ customer.email }};
                        {% endfor %}">
                            <i class="fas fa-copy"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">
                            <i class="fas fa-users"></i>
                            Clients
                        </h4>
                    </div>
                    <div class="card-body">
                        <table id="datatable" class="table table-striped table-secondary">
                            <thead>
                            <tr>
                                <th>Ref</th>
                                <th>Nom/Prénom</th>
                                <th>Contact</th>
                                <th>Fiche</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for customer in customers %}
                                <tr>
                                    <td>
                                        <a class="text-bold" href="{{ path('admin.customer.show', {'id': customer.id}) }}">
                                            #{{ customer.id }}
                                        </a>
                                    </td>
                                    <td>{{ customer.strName }}</td>
                                    <td class="text-center">{{ customer.email }}<br>{{ customer.tel }}</td>
                                    <td>
                                        <a href="{{ path('admin.customer.show', {'id': customer.id}) }}" class="btn btn-primary col-6">
                                            <i class="fas fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="id-active">customer</div>
{% endblock %}

{% block script %}
    <script src="/manager/js/clipboard.min.js"></script>

    <script type="text/javascript">
        let clip = new ClipboardJS('#btn-copy');
    </script>
{% endblock %}
