{% extends 'manager/layout/layout.manager.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <a href="{{ path('admin.customer.edit', {'id': customer.id}) }}" class="btn btn-secondary col-2">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                        <a href="{{ path('admin.customer.index') }}" class="btn btn-primary float-xl-right col-2">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">
                            <i class="fas fa-user"></i>
                            Client
                        </h4>
                        <a href="{{ path('admin.customer.disable', {'id': customer.id}) }}" class="btn btn-danger float-xl-right col-2" onclick="return confirm('Vous allez supprimer la fiche de {{ customer.firstName }} {{ customer.lastName }}');">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <table class="table table-light border-0">
                                    <tr>
                                        <th>Nom/Prénom</th>
                                        <td>{{ customer.firstName }} {{ customer.lastName }}</td>
                                    </tr>
                                    <tr>
                                        <th>Téléphone</th>
                                        <td>{{ customer.tel }}</td>
                                    </tr>
                                    <tr>
                                        <th>Email</th>
                                        <td>{{ customer.email }}</td>
                                    </tr>
                                    <tr>
                                        <th>Adresse</th>
                                        <td>{{ customer.getStrAddress|raw }}</td>
                                    </tr>
                                </table>

                                * {{ customer.firstName }} {{ customer.lastName }}
                                {% if customer.offerAccept == true %}
                                    accepte de recevoir des offres promotionnelle
                                {% else %}
                                    refuse de recevoir des offres promotionnelle
                                {% endif %}

                                <div class="mt-5">
                                    {{ form_bind(customer) }}

                                    {% if customer.comment is empty %}
                                        <button id="button-form" class="btn btn-secondary" onclick="addFormComment()">Ajouter un commentaire</button>


                                        <form id="form" style="display: none" action="{{ path('admin.customer.add.comment', {'id': customer.id}) }}" method="post">
                                            {{ csrf('POST') }}
                                            {{ textarea ({'name': 'comment', 'placeholder': 'Votre commentaire...'}) }}

                                            {{ input({'type': 'submit', 'value': 'Enregistrer', 'class': 'btn btn-success'}) }}
                                        </form>
                                    {% else %}
                                        <form id="form" action="{{ path('admin.customer.add.comment', {'id': customer.id}) }}" method="post">
                                            {{ csrf('POST') }}

                                            {{ textarea ({'name': 'comment', 'placeholder': 'Votre commentaire...', 'readonly': true}) }}

                                            {{ input({'type': 'submit', 'value': 'Enregistrer', 'class': 'btn btn-success', 'id': 'sub-button', 'style': 'display: none;'}) }}
                                            <button type="button" id="btn-form-update" class="btn btn-secondary" onclick="updateFormComment(); return false;">Modifier</button>
                                        </form>

                                    {% endif %}

                                    {{ form_close() }}


                                </div>
                            </div>
                            <div class="col-6">
                                <table id="datatable" class="table border-0">
                                    <thead>
                                    <tr>
                                        <th>Ref</th>
                                        <th>Statut</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for ordered in orders %}
                                        <tr>
                                            <td>
                                                <a href="{{ path('admin.ordered.show', {'id': ordered.id}) }}" class="text-bold">
                                                    #{{ ordered.id }}
                                                </a>
                                            </td>
                                            <td>
                                                {{ ordered.getStrStatus }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="id-active">customer</div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        function addFormComment() {
            $('#form').show();
            $('#button-form').hide();
        }

        function updateFormComment() {
            $('#btn-form-update').hide();
            $('#sub-button').show();
            $('textarea').removeAttr('readonly');
        }
    </script>
{% endblock %}
