<form action="" method="post" enctype="multipart/form-data">
    {{ form_bind(product) }}
    {{ csrf('POST') }}
    <div class="row">
        <div class="col-6">

            {{ label({'value': 'Nom'}) }}
            {{ input({'name': 'name', 'placeholder': 'Nom du produit'}) }}

            {{ label({'value': 'Prix'}) }}
            {{ input({'type': 'number', 'step': '0.01', 'name': 'price', 'placeholder': 'Prix du produit'}) }}
        </div>
        <div class="col-6">
            {{ label({'value': 'Déscription'}) }}
            {{ textarea({'name': 'description', 'class': 'summernote'}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            {% if context == 'update' %}

                <br>
                <hr style="background-color: #333">
                {{ label({'value': 'Détacher des options'}) }}
                {{ select(
                    {'name': 'detach_option', 'class': 'select2 col-12', 'multiple': true, 'required': false},
                    compose(product.options, {'prop(id)': 'prop(name)'}),
                    false
                ) }}
                <hr>
            {% endif %}
            <h4 class="d-inline-block">Options</h4>
            {{ bootstrap(false) }}
            {{ select(
                {'name': 'option_required', 'class': 'select2 d-inline-block float-lg-right col-3', 'required': false},
                {'0': 'Facultatives', '1': 'Requises'}
            ) }}
            {{ bootstrap(true) }}
            <button type="button" class="btn btn-info float-xl-right" onclick="addOption()">
                <i class="fas fa-plus-square"></i>
            </button>
            <hr>

            <div id="options">

            </div>
        </div>
        <div class="col-6">
            {% if context == 'update' %}
                <br>
                <hr style="background-color: #333">
                {{ label({'value': 'Détacher des stocks'}) }}
                {{ select(
                    {'name': 'detach_stock', 'class': 'select2 col-12', 'required': false, 'multiple': true},
                    compose(product.stocks, {'prop(id)': 'prop(name)'}),
                    false
                ) }}
                <hr>
            {% endif %}
            <h4 class="d-inline-block">Stocks</h4>
            <button type="button" class="btn btn-info float-xl-right" onclick="addStock()">
                <i class="fas fa-plus-square"></i>
            </button>
            <hr>

            <div id="stocks">

            </div>
        </div>
    </div>
    <br>
    <br>
    <hr style="background-color: #333">
    <div class="row">
        <div class="col-6">
            {% if context == 'update' %}
                {{ label({'value': 'Détacher des données complémentaire'}) }}
                {{ select(
                    {'name': 'detach_data_complement', 'class': 'select2 col-12', 'multiple': true, 'required': false},
                    compose(product.dataComplement, {'prop(id)': 'prop(title)'}),
                    false
                ) }}
            {% endif %}
            <hr>
            <h4 class="d-inline-block">Données complémentaires</h4>
            <button type="button" class="btn btn-info float-xl-right" onclick="addDataComplement()">
                <i class="fas fa-plus-square"></i>
            </button>
            <hr>

            <div id="data_complement">

            </div>
        </div>
        <div class="col-6">
            {% if context == 'update' %}
                {{ label({'value': 'Donnée client'}) }}
                {{ select(
                    {'name': 'detach_data_customer', 'class': 'select2 col-12', 'multiple': true, 'required': false},
                    compose(product.dataCustomers, {'prop(id)': 'prop(name)'}),
                    false
                ) }}
            {% endif %}
            <hr>
            <h4 class="d-inline-block">Données client</h4>
            <button type="button" class="btn btn-info float-xl-right" onclick="addDataCustomer()">
                <i class="fas fa-plus-square"></i>
            </button>
            <hr>
            <div id="data_customer">

            </div>
        </div>

        {{ input({'type': 'submit', 'class': 'btn btn-success', 'value': 'Enregistrer'}) }}
    </div>
</form>
