<script type="text/javascript">

    let index_data_customer = 0;

    // ------------------------------------- Data customer -------------------------------------
    function addDataCustomer() {
        index_data_customer++

        let elem = "<div class=\"form-group mt-5\">\n" +
            "                    <label>Intitulé</label>\n" +
            "                    <input type=\"text\" name=\"name_data_customer[]\" class=\"form-control\" placeholder=\"Intitulé de la donnée client\">\n" +
            "                    <br>\n" +
            "                    <label>Requis ?</label>\n" +
            "                    <select id=\"data_customer_" + index_data_customer + "\" name=\"require_data_customer[]\" class=\"select2\" style=\"width: 100%\">\n" +
            "                        <option value=\"0\">Non, facultatif</option>\n" +
            "                        <option value=\"1\">Oui, requis</option>\n" +
            "                    </select>\n" +
            "                </div><hr>";

        document.getElementById('data_customer').insertAdjacentHTML('beforeEnd', elem);

        //Select 2 insertion
        $('#data_customer_' + index_data_customer).select2();
    }

    // ----------------------------------- Data complement -------------------------------------
    function addDataComplement() {

        let elem = "<div class=\"form-group mt-5\">\n" +
            "                    <label>Titre</label>\n" +
            "                    <input type=\"text\" name=\"title_data_complement[]\" class=\"form-control\" placeholder=\"Titre de la donnée complémentaire\">\n" +
            "                    <br>\n" +
            "                    <label>Contenu</label>\n" +
            "                    <input type=\"text\" name=\"content_data_complement[]\" class=\"form-control\" placeholder=\"Contenu de la donnée complémentaire\">\n" +
            "                </div><hr>";

        document.getElementById('data_complement').insertAdjacentHTML('beforeEnd', elem);
    }

    // ------------------------------------- Options -------------------------------------
    let index_option = -1;

    function addOption() {

        index_option++;

        let elem = "<div class=\"form-group mt-5\">\n" +
            "                    <label>Nom</label>\n" +
            "                    <input type=\"text\" class=\"form-control\" name=\"option_name[]\" placeholder=\"Nom de l'option\">\n" +
            "                    <br>\n" +
            "                    <label>Prix</label>\n" +
            "                    <input type=\"number\" step=\"0.01\" name=\"option_price[]\" placeholder=\"Prix de l'option\" class=\"form-control\">\n" +
            "                    <br>\n" +
            "                    <label>Stocks</label>\n" +
            "                    <select id=\"option_" + index_option + "\" name=\"option_stock[]\" class=\"select2 " +
            "col-12\">\n" +
            "                        {% for stock in stocks %}\n" +
            "<option value=\"\">Aucun</option>" +
            "                            <option value=\"{{ stock.id }}\" title=\"{{ stock.description|raw }}\">{{ stock.id }}| {{ stock.name }}</option>\n" +
            "                        {% endfor %}\n" +
            "                    </select>\n" +
            "                   <br><br>\n" +
            "                <label>L'option en contient ...</label>\n" +
            "                <input type=\"number\" value=\"\" name=\"option_content_stock[]\" placeholder=\"Quantité déduite pour cette option\" class=\"form-control\">\n" +
            "        </div>" +
            "<hr>";

        document.getElementById('options').insertAdjacentHTML('beforeEnd', elem);

        //Select 2 insertion
        $('#option_' + index_option).select2();
    }

    // ------------------------------------ Stock ---------------------------

    let index_stock = -1;

    function addStock() {

        index_stock++;

        let elem = "<div class=\"form-group mt-5\">\n" +
            "                <label for=\"stock_" + index_stock + "\">Stock</label>\n" +
            "                <select id=\"stock_" + index_stock + "\" name=\"stock[]\" class=\"select2 col-12\">\n" +
            "                    <option value=\"\">Aucun stock sélectionné</option>" +
            "                    {% for stock in stocks %}\n" +
            "                        <option value=\"{{ stock.id }}\" {{ form_select('stock', stock.id, null, 'stocks') }}\n" +
            "                                title=\"{{ stock.description }}\">{{ stock.id }}| {{ stock.name }}</option>\n" +
            "                    {% endfor %}\n" +
            "                </select>\n" +
            "            </div>\n" +
            "            <div class=\"form-group\">\n" +
            "                <label>Le produit en contient ...</label>\n" +
            "                <input type=\"number\" value=\"\" name=\"stock_content[]\" placeholder=\"Quantité déduite pour ce produit\" class=\"form-control\">\n" +
            "            </div>\n" +
            "            <hr>";

        document.getElementById('stocks').insertAdjacentHTML('beforeEnd', elem);

        $('#stock_' + index_stock).select2();
    }
</script>
