{% extends 'manager/layout/layout.manager.html.twig' %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <a href="{{ path('admin.product.index') }}" class="btn btn-primary float-xl-right col-2">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">
                            <i class="fas fa-plus-square"></i>
                            Créer un produit
                        </h4>
                    </div>
                    <div class="card-body">
                        {{ include('manager/product/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="id-active">product</div>
{% endblock %}

{% block script %}
    {{ include('manager/product/_js.form.html.twig') }}
{% endblock %}
