{% extends 'manager/layout/layout.manager.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        {% if product.active == true %}
                            <a href="{{ path('admin.product.disable', {'id': product.id}) }}" class="btn btn-danger col-2">
                                <i class="fas fa-stop-circle"></i>
                            </a>
                        {% else %}
                            <a href="{{ path('admin.product.enable', {'id': product.id}) }}" class="btn btn-success col-2">
                                <i class="fas fa-play-circle"></i>
                            </a>
                        {% endif %}
                        <a href="{{ path('admin.product.index') }}" class="btn btn-primary float-xl-right col-2">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Éditer le produit "{{ product.name }}"</h4>
                    </div>
                    <div class="card-body">
                        {{ include('manager/product/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="id-active">product</div>
{% endblock %}

{% block script %}
    {{ include('manager/product/_js.form.html.twig') }}
{% endblock %}
