{% extends 'manager/layout/layout.manager.html.twig' %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <a href="{{ path('admin.product.create') }}" class="btn btn-success col-2">
                            <i class="fas fa-plus-square"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Tous les produits</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-secondary table-striped" id="datatable">
                            <thead>
                            <tr>
                                <th>Ref</th>
                                <th>Nom</th>
                                <th>Prix</th>
                                <th>Créé le</th>
                                <th>Statut</th>
                                <th>Fiche</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for product in products %}
                                <tr>
                                    <td>
                                        <a class="text-bold" href="{{ path('admin.product.show', {'id': product.id}) }}">
                                            #{{ product.id }}
                                        </a>
                                    </td>
                                    <td>{{ product.name }}</td>
                                    <td>{{ product.price }}</td>
                                    <td>{{ str_date(product.createdAt) }}</td>
                                    <td>
                                        {% if product.active == true %}
                                            <span class="text-success text-bold">Activé</span>
                                        {% else %}
                                            <span class="text-danger text-bold">Désactivé</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{{ path('admin.product.show', {'id': product.id}) }}" class="btn btn-primary col-3">
                                            <i class="fas fa-eye"></i>
                                        </a>
                                        <a href="{{ path('admin.product.edit', {'id': product.id}) }}" class="btn btn-secondary col-3">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>

                                        {% if product.active == true %}
                                            <a href="{{ path('admin.product.disable', {'id': product.id, '_token': csrf('GET')}) }}" class="btn btn-danger col-3">
                                                <i class="fas fa-stop-circle"></i>
                                            </a>
                                        {% else %}
                                            <a href="{{ path('admin.product.enable', {'id': product.id, '_token': csrf('GET')}) }}" class="btn btn-success col-3">
                                                <i class="fas fa-play-circle"></i>
                                            </a>
                                        {% endif %}

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="id-active">product</div>
{% endblock %}
