{% extends 'manager/layout/layout.manager.html.twig' %}


{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <a href="{{ path('admin.product.edit', {'id': product.id}) }}" class="btn btn-secondary col-2">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                        <a href="{{ path('admin.product.index') }}" class="btn btn-primary float-xl-right col-2">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-secondary">
                            <tbody>
                            <tr>
                                <th>Ref</th>
                                <td>{{ product.id }}</td>
                            </tr>
                            <tr>
                                <th>Nom</th>
                                <td>{{ product.name }}</td>
                            </tr>
                            <tr>
                                <th>Déscription</th>
                                <td>
                                    {% if product.description != null %}
                                        {{ product.description|raw }}
                                    {% else %}
                                        <a href="{{ path('admin.product.edit', {'id': product.id}) }}" class="btn btn-secondary">
                                            <i class="fas fa-plus-square"></i>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Prix</th>
                                <td>{{ product.price }} €</td>
                            </tr>
                            <tr>
                                <th>Stocks</th>
                                <td>
                                    {% if product.stocks is not empty %}
                                        <table class="table table-grey table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th>Ref</th>
                                                <th>Nom</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for stock in product.stocks %}
                                                <tr>
                                                    <td>{{ stock.id }}</td>
                                                    <td>{{ stock.name }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    {% else %}
                                        <a href="{{ path('admin.product.edit', {'id': product.id}) }}" class="btn btn-secondary">
                                            <i class="fas fa-plus-square"></i>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Options requises</th>
                                <td class="text-bold {{ product.optionRequired == true ? 'text-success' : 'text-danger' }}">
                                    {{ product.optionRequired == true ? 'Requises' : 'facultatives' }}
                                </td>
                            </tr>
                            <tr>
                                <th>Options</th>
                                <td>
                                    {% if product.options is not empty %}
                                        <table class="table table-grey table-bordeder table-striped">
                                            <thead>
                                            <tr>
                                                <th>Nom</th>
                                                <th>Prix</th>
                                                <th>Stocks associées</th>
                                                <th>Modifier</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for option in product.options %}

                                                <tr>
                                                    <td>{{ option.name }}</td>
                                                    <td>{{ option.price }}</td>
                                                    <td>
                                                        {% if option.stock is not empty %}
                                                            <a href="{{ path('admin.stock.show', {'id': option.stock.id}) }}" class="text-bold">
                                                                {{ option.stock.name }}
                                                            </a>
                                                        {% else %}
                                                            Non défini
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <a href="{{ path('admin.product.option.edit', {'id': option.id}) }}"
                                                           class="btn btn-light">Modifier</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    {% else %}
                                        <a href="{{ path('admin.product.edit', {'id': product.id}) }}" class="btn btn-secondary">
                                            <i class="fas fa-plus-square"></i>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Données complémentaire</th>
                                <td>
                                    {% if product.dataComplement is not empty %}
                                        <table class="table table-grey table-bordered table-striped">
                                            <tbody>
                                            {% for dataComplement in product.dataComplement %}
                                                <tr>
                                                    <td>{{ dataComplement.title }}</td>
                                                    <td>{{ dataComplement.content }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    {% else %}
                                        <a href="{{ path('admin.product.edit', {'id': product.id}) }}" class="btn btn-secondary">
                                            <i class="fas fa-plus-square"></i>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Données client</th>
                                <td>
                                    {% if product.dataCustomers is not empty %}
                                        <table class="table table-grey table-bordered table-striped">
                                            <tbody>
                                            {% for dataCustomer in product.dataCustomers %}
                                                <tr>
                                                    <td>{{ dataCustomer.name }}</td>
                                                    <td>
                                                        {% if dataCustomer.required == false %}
                                                            Facultatif
                                                        {% else %}
                                                            Requis
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    {% else %}
                                        <a href="{{ path('admin.product.edit', {'id': product.id}) }}" class="btn btn-secondary">
                                            <i class="fas fa-plus-square"></i>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="id-active">product</div>
{% endblock %}
