<form action="" method="post" enctype="multipart/form-data">
    {{ form_bind(stock) }}
    {{ csrf('POST') }}
    <div class="row">
        <div class="col-6">
            {{ label({'value': 'Nom'}) }}
            {{ input({'name': 'name', 'placeholder': 'Nom du stock'}) }}

            {{ label({'value': 'Quantité'}) }}
            {{ input({'name': 'quantity', 'type': 'number', 'placeholder': 'Quantité actuelle'}) }}
        </div>
        <div class="col-6">
            {{ first() }}
            {{ label({'value': 'Déscription'}) }}
            {{ textarea({'name': 'description', 'class': 'summernote', 'required': false}) }}
        </div>
    </div>
    {{ input({'type': 'submit', 'class': 'btn btn-success', 'value': 'Enregister'}) }}
</form>
