{% extends 'manager/layout/layout.manager.html.twig' %}


{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <a href="{{ path('admin.stock.create') }}" class="btn btn-success col-2">
                            <i class="fas fa-plus-square"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Tous les stock</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-secondary table-striped" id="datatable">
                            <thead>
                            <tr>
                                <th>Ref</th>
                                <th>Nom</th>
                                <th>Quantité</th>
                                <th>Fiche</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for stock in stocks %}
                                <tr>
                                    <td>
                                        <a class="text-bold" href="{{ path('admin.stock.show', {'id': stock.id}) }}">
                                            #{{ stock.id }}
                                        </a>
                                    </td>
                                    <td>{{ stock.name }}</td>
                                    <td>{{ str_number(stock.quantity) }}</td>
                                    <td>
                                        <a href="{{ path('admin.stock.show', {'id': stock.id}) }}" class="btn btn-primary col-3">
                                            <i class="fas fa-eye"></i>
                                        </a>
                                        <a href="{{ path('admin.stock.edit', {'id': stock.id}) }}" class="btn btn-secondary col-3">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                        <a href="{{ path('admin.stock.delete', {'id': stock.id, '_token': csrf('GET')}) }}" class="btn btn-danger col-3">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="id-active">stock</div>
{% endblock %}
