{% extends 'manager/layout/layout.manager.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <a href="{{ path('admin.stock.edit', {'id': stock.id}) }}" class="btn btn-secondary col-2">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                        <a href="{{ path('admin.stock.index') }}" class="btn btn-primary float-xl-right col-2">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-striped table-secondary">
                            <tr>
                                <th>Ref</th>
                                <td>{{ stock.id }}</td>
                            </tr>
                            <tr>
                                <th>Nom</th>
                                <td>{{ stock.name }}</td>
                            </tr>
                            <tr>
                                <th>Quantité</th>
                                <td>{{ stock.quantity }}</td>
                            </tr>
                            <tr>
                                <th>Déscription</th>
                                <td>{{ stock.description|raw }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="id-active">stock</div>
{% endblock %}
