<form action="" method="post" enctype="multipart/form-data">

    {{ form_bind(article) }}
    {{ csrf('POST') }}

    {{ label({'value': 'Type'}) }}
    {{ select(
        {'name': 'type', 'class': 'select2 col-12'},
        {'0': 'Article', '1': 'Évenement'}
    ) }}

    {{ label({'value': 'Titre'}) }}
    {{ input({'name': 'title', 'placeholder': 'Titre de l\'article'}) }}

    {{ label({'value': 'Contenu'}) }}
    {{ textarea({'name': 'content', 'class': 'summernote'}) }}

    {{ label({'value': 'Affiche'}) }}
    {{ input({'type': 'file', 'name': 'image', 'required': false}) }}

    {{ input({'type': 'submit', 'class': 'btn btn-success', 'value': 'Enregistrer'}) }}
</form>


