{% extends 'manager/layout/layout.manager.html.twig' %}



{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <a href="{{ path('admin.article.index') }}" class="btn btn-primary float-xl-right col-2">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">
                            <i class="fas fa-plus-square"></i>
                            Créer un article
                        </h4>
                    </div>
                    <div class="card-body">
                        {{ include('manager/article/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="id-active">article</div>
{% endblock body %}

{% block script %}

    <script type="text/javascript">

        $('#delete-image').change(function () {

            let html = "<img style='width: 150px; height: 150px; border: 1px solid grey; margin-right: 1px' src='" + $(this).val() + "'>"

            /*for(let i = 0; i < $(this).val().length; i++){
                html += "<img style='width: 150px; height: 150px; border: 1px solid grey; margin-right: 1px' src='" + $(this).val()[i] + "'>"
            }*/

            $('#show').html(html);
        });

    </script>
{% endblock script %}
