{% extends 'manager/layout/layout.manager.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <a href="{{ path('admin.article.index') }}" class="btn btn-primary float-xl-right col-2">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">
                            <i class="fas fa-pencil-alt"></i>
                            Éditer un article
                        </h4>
                    </div>
                    <div class="card-body">
                        {{ include('manager/article/_form.html.twig', {'button_label': 'Update'}) }}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="id-active">article</div>
{% endblock %}

{% block script %}
    {{ include('manager/inc/_js.show.image.twig') }}
{% endblock script %}
