{% extends 'manager/layout/layout.manager.html.twig' %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <a class="btn btn-success col-2" href="{{ path('admin.article.create') }}">
                            <i class="fas fa-plus-square"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Articles</h3>
            </div>
            <div class="card-body">
                <table class="table table-secondary table-striped" id="datatable">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Type</th>
                        <th>Date</th>
                        <th>Titre</th>
                        <th>Fiche</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for article in articles %}
                        <tr>
                            <td>
                                <a href="{{ path('admin.article.show', {'id': article.id}) }}" class="text-bold">
                                    #{{ article.id }}
                                </a>
                            </td>
                            <td>{{ article.type }}</td>
                            <td>{{ str_date(article.createdAt) }}</td>
                            <td class="text-bold">{{ article.title }}</td>
                            <td>
                                <a class="btn btn-primary col-2" href="{{ path('admin.article.show', {'id': article.id}) }}">
                                    <i class="fas fa-eye"></i>
                                </a>
                                <a class="btn btn-secondary col-2" href="{{ path('admin.article.edit', {'id': article.id}) }}">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                <a class="btn btn-danger col-2" href="{{ path('admin.article.delete', {'id': article.id, 'token': csrf('GET')}) }}" onclick="return confirm('Voulez vous vraiement le supprimer ?')">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="id-active">article</div>
{% endblock %}

