{% extends 'manager/layout/layout.manager.html.twig' %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <a href="{{ path('admin.article.edit', {'id': article.id}) }}" class="btn btn-secondary col-2">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                        <a href="{{ path('admin.article.index') }}" class="btn btn-primary float-xl-right col-2">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        {% if article.image != null %}
                            <div class="col-6">
                                <img src="{{ article.image.publicFilename }}" class="product-image">
                            </div>
                        {% else %}
                            Aucune image
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-secondary table-striped">
                            <tbody>
                            <tr>
                                <th>Identifiant</th>
                                <td>{{ article.id }}</td>
                            </tr>
                            <tr>
                                <th>Type</th>
                                <td>{{ article.type }}</td>
                            </tr>
                            <tr>
                                <th>Titre</th>
                                <td>{{ article.title }}</td>
                            </tr>
                            <tr>
                                <th>Contenu</th>
                                <td>{{ article.content|raw }}</td>
                            </tr>
                            <tr>
                                <th>Créé le</th>
                                <td>{{ article.createdAt|date('d/m/Y') }} à {{ article.createdAt|date('H:i:s') }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="id-active">article</div>
{% endblock %}
