/*------------------------------------------------------------------
[Table of contents]

1.  Template default CSS
	1.1	Variables
	1.2	Mixins
	1.3	Flexbox
	1.4	Reset
2.  Helper Css
3.  Header Section
4.  Hero Section
5.  Room Availability Section
6.  About Section
7.  Fecilities Section
8.  Testimonial Section
9.  Footer
10. Other Pages Style

-------------------------------------------------------------------*/

/*----------------------------------------*/
/* Personal
/*----------------------------------------*/

@font-face {
    font-family: 'josefin_sanslight';
    src: url('../font/josefinsans-light-webfont.woff2') format('woff2'),
    url('../font/josefinsans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'latolight';
    src: url('../font/lato-light-webfont.woff2') format('woff2'),
    url('../font/lato-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Roboto-light';
    src: url('../font/roboto-light-webfont.woff2') format('woff2'),
    url('../font/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Josefin Sans';
    src: url('../font/josefinsans-regular-webfont.woff2') format('woff2'),
    url('josefinsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'latoregular';
    src: url('../font/lato-regular-webfont.woff2') format('woff2'),
    url('../font/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Roboto-regular';
    src: url('../font/roboto-regular-webfont.woff2') format('woff2'),
    url('../font/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Lato-medium';
    src: url('../font/lato-medium-webfont.woff2') format('woff2'),
    url('../font/lato-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'robotomedium';
    src: url('../font/roboto-medium-webfont.woff2') format('woff2'),
    url('../font/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body::-webkit-scrollbar {
    width: 13px;
    padding: 0px;
}

body::-webkit-scrollbar-thumb {
    background-color: #baa499;
    margin: 0px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #9e8d86;
}


.container {
    padding: 0 !important;
}

/*
	BTN ===========================================
*/

.btn-hard-dark {
    color: rgb(17, 17, 17);
    border: 4px solid black;
    border-radius: 0px !important;
    font-size: 30px;
}

.btn-purple {
    color: #baa499;
    border-radius: 0px;
    border: 2px solid #baa499;
    text-align: center;
    vertical-align: middle;
}

.btn-purple:hover {
    background-color: #baa499;
    color: white;
    transition: 1s;
}

.btn-light {
    border-radius: 0px;
    border: 2px solid white;
    text-align: center;
    vertical-align: middle;
    background: none;
    color: white;
}

.btn-light:hover {
    color: #333;
    transition: 1s;
}


.btn-pink {
    background-color: #c36992;
    color: white;
    border-radius: 0px;
    border: 2px solid #c36992;
    text-align: center;
    vertical-align: middle;
}

.btn-circle {
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 4px 0;
    font-size: 10px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

/*
	CARD ===========================================
*/

.card-product, .card-basket {
    border-radius: 0px !important;
    padding: 0px !important;
    min-height: 500px;
}

.card-basket {
    height: 500px;
}

.card-basket .card-body {
    overflow-y: scroll;
}

.scroll-card::-webkit-scrollbar {
    width: 8px;
}

.scroll-card::-webkit-scrollbar-thumb {
    background-color: #baa499;
}

.card-basket {
    height: 450px;
    border: 0px !important;
}

.card-basket .card-header {
    height: 100px;
    background-color: #cb6592;
    border-radius: 0px !important;
}

.card-basket .basket-section * {
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px !important;
    color: #7e8485;
}

.card-basket .basket-section {
    padding: 5px;
}

.card-basket .card-header p {
    font-family: "Roboto-light", sans-serif;
    font-weight: lighter !important;
    font-size: 30px;
    color: white;
    margin-left: 20px;
    margin-top: 20px;
}

.card-basket .card-footer {
    border-top: 0px;
    background: inherit;
}

.card-product {
    border: 0px;
    box-shadow: 0px 2px 10px 1px rgba(150, 150, 150, 0.61);
    background: rgb(251, 247, 247);
}

.card-product .card-body p {
    color: #7e8485;
}

.card-product img {
    width: 100%;
    height: 350px;
}

.card-product .card-body {
    padding-bottom: 0px;
    margin-bottom: 0px !important;
}

.card-product .card-footer {
    border: 0px !important;
    background: inherit;
}

.card-product .btn-see, .card-product .btn-see .btn {
    margin-left: 0px;
    margin-top: 10px;
}

.card-product .card-body .card-product-footer {
    text-align: center;
    margin-bottom: 0px !important;
    display: inline-block;
}

.article {
    font-family: "Roboto-light", sans-serif;
    color: #f3eeec;
}

.card-article {
    background: #eceae9;
    padding: 0px;
    min-height: 500px;
    height: 100%;
    box-shadow: 0px 11px 28px 6px rgba(0, 0, 0, 0.52);
    border: 0px !important;

}


.card-article .card-title {
    color: #757a7a;
}

.card-article .card-body, .card-article p {
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-align: justify;
}

.card-article .card-footer {
    background: inherit;
    border: 0px !important;
}

.card-article .card-footer .btn {
    margin-left: 0px;
}

.card-article .introduct {
    max-height: 90px;
    word-wrap: break-word;
    overflow: hidden;
}

.card-artEv, .card-artEv * {
    background: #f3eeec;
    color: #c36992;
    font-size: 15px;
    min-height: 300px;
    overflow: scroll;
}

.card-contact {
    background: rgb(251, 247, 247);
}

.card-contact .card-header {
    background-color: inherit;
    border: 0px;
}

.card-contact .card-title {
    color: #7e8485;
}

.card {
    background: rgb(245, 240, 240) !important;
}

/*
	VRAC =============================================
*/

.text-white {
    color: white;
}

.home-introduction {
    background-position: 0%;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 200px;
    padding-top: 3%;
}

.home-introduction h1 {
    font-size: 40px;
    text-align: center;
    color: #333;
}

.bold {
    font-weight: bold;
    color: #333 !important;
}

.text-pink {
    color: #c36992;
}

.identity-text {
    background-color: #f3eeec;
    padding: 20px;
    margin: 0px;
    font-family: "Roboto", sans-serif;
    color: #4b5354;
}

.identity-text h1 {
    font-size: 35px;
    line-height: 5em;
}


.identity-text p {
    font-size: 18px;
    color: inherit;
}

.identity .img-right {
    margin: 0px;
    padding: 0px;
    background-image: url('/website/img/tour-identity.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 45%;
}

.identity .img-bottom {
    margin: 0px;
    padding: 0px;
    background-image: url('/website/img/river-identity.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

.identity .cit-text {
    background: #baa499;
    font-size: 23px;
    color: white;
    text-align: center;
    line-height: 200px;
    letter-spacing: 3px;
}


.personnal {
    margin-bottom: -500px !important;
    padding: 0px;
    height: 140%;
}

.personnal h1 {
    color: white;
    font-size: 40px;
    font-family: "Roboto-light", sans-serif;
    line-height: 1.2em;
    font-weight: 100;
    letter-spacing: 2px;
}

.personnal p {
    color: white;
    font-size: 18px;
    line-height: 1.2em;
    font-weight: 100;
    letter-spacing: 2px;
    font-family: "Josefin Sans", sans-serif;
}

.personnal .personnal-jewelery {
    background-image: url('/histoire/Web/public/Customer/img/colier.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 60%;
    padding: 50px;
}

.badge-home {
    vertical-align: top;
    font-size: 12px;
    background-color: white;
    color: #333;
    border-radius: 25px;
}

.badge-section {
    vertical-align: top;
    font-size: 12px;
    background-color: #baa499;
    color: white;
    border-radius: 50px;
}

.font-lato, .font-lato * {
    font-size: 14px;
    color: #7e8485;
    font-family: "Lato-medium", sans-serif;
    font-weight: 400;
    line-height: 28px;
}

.font-lato-regular {
    font-size: 15px;
    color: #696c6d;
    font-family: "Lato-medium", sans-serif;
    font-weight: bold;
    line-height: 28px;
}

.font-lg {
    font-size: 18px;
}

.basket-price {
    margin-top: 0px;
}

.table-purple thead {
    background-color: #baa499;
    font-family: "Roboto-regular", sans-serif;
    color: white;
}

.border-top {
    border-top: 2px solid #baa499 !important;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
}

.no-border {
    border: 0px !important;
}

.reduction * {
    color: white;
}

.reduction p {
    font-family: "Roboto-light", sans-serif;
    font-size: 16px;
}

.headband-stock-false {
    background-color: inherit;
    color: rgb(245, 21, 21);
    text-decoration: underline;
}

.headband-stock-true {
    color: #77a464;
    background-color: inherit;
    text-decoration: underline;
}

.title-product {
    text-align: center;
}

.suggest {
    font-family: "Roboto-light", sans-serif;
    color: #4b5354;
}

.slide-footer {
    border-top: 100px solid #baa499;
    margin-bottom: 0px !important;
    background: #f3eeec;
}

.slide-footer h1 {
    font-weight: 500;
}

.slide-footer .hero-slider {
    padding: 0px;
    margin: 0px;
}

.slide-footer .hero-slider .single-slider-item {
    background-repeat: no-repeat;
    padding-top: 30px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    background-size: contain;
    min-height: 280px;
}

.right .container {
    margin-top: 25%;
}

.right .container h1 {
    color: white !important;
}

.right .container button {
    color: white;
    border: 3px solid white;
}

.footer {
    background: #f3eeec;
    max-height: 100%;
    padding-top: 50px;
    padding-bottom: 0px;
    margin: 0px;
}

.footer .left-footer {
    color: #7e8485;
    text-align: center;
    font-size: 25px;
}

.footer .left-footer .nav {
    margin-left: 35%;
}

.footer .left-footer .nav li {
    margin-left: 20px;
}

.right-footer .list-group-item {
    background: inherit;
}

.right-footer .list-group-item a {
    color: #7e8485;
}

.footer-stamp {
    background: #c36992;
    padding: 10px;
    margin-bottom: 0px;
}

.footer-stamp p {
    color: white;
    line-height: 6em;
    font-size: 18px;
    margin-bottom: 0px;
}


.error {
    font-size: 200px;
}

.error-message {
    font-size: 40px;
    line-height: 1.5em;
}

/* --------------------------------------*/
/* Modal 
/* --------------------------------------*/

.modal, .modal-dialog, .modal-xl, .modal-content, .modal-header {
    border-radius: 0px !important;
}

.modal-header {
    background-color: #c36992;
}

.modal-header .close {
    color: white;
    font-weight: bold;
}

.modal-title {
    color: white;
}


#active-modal {
    visibility: hidden;
}


/*----------------------------------------*/
/* Template default CSS
/*----------------------------------------*/

* {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.7142em;
    text-decoration: none;
    text-transform: none;
}

html,
body {
    height: 100%;
    background: rgb(245, 240, 240);

}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #111111;
    font-weight: 500;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p, u {
    font-size: 14px;
    color: #7e8485;
    font-family: "Lato-medium", sans-serif;
    font-weight: 400;
    line-height: 28px;
    margin: 0 0 15px 0;
}

img {
    max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
    outline: none;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
    color: #081624;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

[class^=flaticon-]:before,
[class*=" flaticon-"]:before,
[class^=flaticon-]:after,
[class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 40px;
    font-style: normal;
}

/*---------------------
  Helper CSS
-----------------------*/

.section-title {
    margin-bottom: 80px;
}

.section-title h1 {
    color: #242424;
    font-size: 72px;
    font-weight: 400;
    line-height: 72px;
}

.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.spad {
    padding-top: 100px;
    padding-bottom: 100px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
    color: #ffffff;
}


/* Preloder */

#preloder {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    background: #000;
}

.loader {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    border-radius: 60px;
    animation: loader 0.8s linear infinite;
    -webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        border: 4px solid #673ab7;
        border-left-color: transparent;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
    50% {
        -webkit-transform: rotate(180deg);
        border: 4px solid #673ab7;
        border-left-color: transparent;
    }
    100% {
        -webkit-transform: rotate(360deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
}

.el-title {
    margin-bottom: 75px;
}

.element {
    margin-bottom: 100px;
}

.element:last-child {
    margin-bottom: 0;
}

/*---------------------
  Header
-----------------------*/

.header-section {
    background-color: rgba(186, 164, 153, 0.85);
    padding-top: 38px;
    padding-bottom: 20px;
    position: absolute;
    left: 0;
    width: 100%;
}

.header-section.other-page {
    border-bottom: 1px solid #ae9548;
}

.header-section.other-page .inner-header .main-menu {
    margin: auto !important;
}

.header-section.other-page .inner-header .main-menu ul li {
    margin-right: 38px;
}

.inner-header .logo {
    float: left;
    padding-left: 35px;
    margin-right: 30px;
}

.inner-header .logo a {
    display: block;
}

.inner-header .main-menu ul li:hover a {
    color: #7e8485 !important;
}

.inner-header .main-menu ul li {
    list-style: none;
    display: inline-block;
    margin-right: 40px;
    position: relative;
}

.inner-header .main-menu ul li .drop-menu {
    position: absolute;
    left: 0;
    top: 70px;
    background: #f2eeec;
    width: 220px;
    visibility: hidden;
    z-index: -1;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.inner-header .main-menu ul li .drop-menu li {
    display: block;
    margin-right: 0;
}

.inner-header .main-menu ul li .drop-menu li a {
    display: block;
    padding: 7px 20px;
    letter-spacing: 0.5px;
    font-size: 16px;
    text-transform: unset;
}

.inner-header .main-menu ul li .drop-menu li a:hover {
    color: #cb6592 !important;
}

.inner-header .main-menu ul li a {
    font-size: 17px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    color: #f2eeec;
    letter-spacing: 0.5px;
    padding-top: 20px;
    text-transform: uppercase;
}

.inner-header .main-menu ul li:hover > .drop-menu {
    top: 30px;
    visibility: visible;
    z-index: 999;
}

.inner-header .top-info {
    float: right;
    position: relative;
}

.inner-header .top-info img {
    position: absolute;
    left: 0;
    top: 2px;
}

.inner-header .top-info span {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #ffffff;
    line-height: 18px;
    display: inline-block;
    margin-left: 45px;
    max-width: 160px;
}

.slicknav_menu {
    display: none;
}

/*---------------------
  Hero Slider
-----------------------*/

.slider-item .single-slider-item {
    height: 700px;
    padding-top: 395px;
    text-align: center;
    background-size: cover;
}

.slider-item .single-slider-item h1 {
    font-size: 40px;
    color: rgb(17, 17, 17);
    line-height: 100%;
    font-family: "Roboto-light", sans-serif;
}

.slider-nav {
    position: absolute;
    right: 0;
    top: 0;
}

.slider-nav .single-slider-nav {
    display: inline-block;
    margin-right: 26px;
}

.slider-nav .single-slider-nav.last {
    margin-right: 0;
}

.slider-nav .single-slider-nav:hover .nav-text {
    background: #ffffff;
    border: 1px solid #ae9548;
    border-top: 0;
}

.slider-nav .single-slider-nav:hover .nav-text p {
    color: #081624;
}

.slider-nav .single-slider-nav .nav-text {
    background: #353535;
    padding: 8px 15px;
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid #353535;
    border-top: 0;
}

.slider-nav .single-slider-nav .nav-text p {
    color: #ffffff;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
}

.slider-nav .single-slider-nav .nav-text p i {
    position: absolute;
    right: 15px;
    top: 11px;
    font-size: 20px;
    color: #ae9548;
}


/*----------------------- Responsive Media Styles -------------------------*/

@media (min-width: 1200px) {
    .container {
        max-width: 1176px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1300px) {
    .inner-header .logo {
        padding-left: 0;
    }

    .header-section.other-page .inner-header .main-menu ul li {
        margin-right: 20px;
    }
}

/* Medium Device: 1280px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .inner-header .logo {
        padding-left: 0;
    }

    .inner-header .main-menu {
        margin-right: 20px;
    }

    .inner-header .main-menu ul li {
        margin-right: 13px;
    }
}

/* Tablet Device: 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .inner-header .logo {
        margin-right: 30px;
    }

    .inner-header .main-menu {
        float: right;
        margin-right: 0;
    }

    .inner-header .logo {
        padding-left: 0;
        margin-right: 20px;
    }

    .header-section.other-page .inner-header .main-menu ul li,
    .inner-header .main-menu ul li {
        margin-right: 15px;
    }

    .inner-header .top-info {
        display: none;
    }

    .header-section.other-page .inner-header .logo {
        margin-right: 40px;
    }

    .slider-item .single-slider-item {
        padding-top: 300px;
    }
}

/* Large Mobile Device: 480px */

@media only screen and (max-width: 767px) {
    .inner-header .logo {
        padding-left: 0;
    }

    .slicknav_menu {
        display: block;
        background: transparent;
        padding: 0;
    }

    .slicknav_nav {
        background: #555;
    }

    .slicknav_nav ul {
        margin: 0;
    }

    .slicknav_nav .slicknav_row,
    .slicknav_nav a {
        padding: 10px 10px;
        margin: 0;
    }

    .slicknav_nav a:hover {
        border-radius: 0;
    }

    .slicknav_nav .slicknav_row:hover {
        border-radius: 0;
    }

    .slicknav_btn {
        margin: 0 0 10px 0;
    }

    .header-section.other-page .inner-header .main-menu,
    .inner-header .main-menu {
        display: none;
    }

    .header-section.other-page .inner-header .top-widget,
    .inner-header .top-info {
        display: none;
    }

    .header-section {
        z-index: 999;
    }

    .slider-item .single-slider-item h1 {
        font-size: 40px;
        line-height: 40px;
    }

    .slider-item .single-slider-item {
        height: auto;
        padding: 250px 0 150px;
    }

    .slider-nav {
        position: relative;
        display: block;
        padding-top: 40px;
    }

    .slider-nav .single-slider-nav {
        margin-right: 25px;
        width: 130px;
    }

    .slider-nav .single-slider-nav .nav-text p i {
        right: 5px;
        top: 12px;
    }

    .slider-nav .single-slider-nav .nav-text p {
        font-size: 13px;
    }

    .footer-section .copyright-area {
        text-align: center;
    }

    .footer-section .copyright-area .copyright-text {
        float: none;
    }

    .footer-section .copyright-area .privacy-links {
        float: none;
        margin-right: 0;
    }

    .footer-section .copyright-area .privacy-links a:last-child {
        margin-right: 0;
    }
}

/* Small Mobile Device: 320px */

@media only screen and (min-width: 320px) and (max-width: 479px) {
    .slider-nav .single-slider-nav {
        margin-bottom: 30px;
    }

    .inner-header .logo {
        margin-right: 0;
    }

    .section-title h1 {
        font-size: 57px;
    }
}
