
.btn-purple {
    margin-left: 10%;
}

.font-img {
    height: 100% !important;
    background-position: center !important;
    background-size: cover !important;
}


/*
    PRODUCT
*/
.price {
    color: #4b5354;
    font-family: inherit;
}

.decimal {
    vertical-align: top;
    font-size: 0.7rem;
}

#pills-tab {
    margin-bottom: 0px !important;
    padding-bottom: 0px;
}

.nav-item .active {
    background-color: #e3e0df !important;
    color: #333 !important;
}

.nav-item .nav-link:hover {
    color: white;
}


.nav-link {
    font-family: "Roboto-light", sans-serif;
    font-size: 1.714285714285714rem;
    border-radius: 0px !important;
    background-color: #cb6592;
    color: white;
    padding: 20px;
    margin: 0 0 0 0 !important;
    line-height: 1em;
    font-weight: 100 !important;
    letter-spacing: -0.5px;
}

.tab-content {
    background-color: #e3e0df !important;
    padding: 25px;
    margin-top: 0px !important;
}

.tab-data-comp th {
    font-weight: bold;
    border-right: 0;
    border-left: 0;
    width: 20%;
}

.tab-data-comp, .tab-data-comp td {
    border-left: 0;
    border-right: 0;
}

.tab-data-comp th, .tab-data-comp td {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

.input {
    border-top: none;
    border-bottom: 2px solid #baa499;
    border-left: none;
    border-right: none;
    width: 100%;
    margin-bottom: 5%;
    background: rgb(245, 240, 240) !important;
}

.textarea {
    border-top: none;
    border-bottom: 2px solid #baa499;
    border-left: none;
    border-right: none;
    width: 100%;
    margin-bottom: 5%;
    background: rgb(245, 240, 240) !important;
}

.input:read-only {
    background-color: #e5dad9 !important;
}

.select {
    border-top: none;
    border-bottom: 2px solid #baa499;
    border-left: none;
    border-right: none;

    background-color: #7e8485;
    width: 100%;
    height: 30px;
    margin-bottom: 5%;
}

.select option {
    background-color: #baa499;
    color: white;
}


.select-multiple {
    border-top: none;
    border-bottom: 2px solid #baa499;
    border-left: none;
    border-right: none;

    background-color: #baa499;
    width: 100%;
    height: 80px;
    margin-bottom: 5%;
    color: white;
}


/*
    FORM
*/

.quantity {
    position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.quantity input {
    width: 60px;
    height: 42px;
    float: left;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    border-bottom: 2px solid #baa499;
    border-top: none;
    border-left: none;
    border-right: none;
    background: rgb(245, 240, 240) !important;
}

.quantity input:focus {
    outline: 0;
}

.quantity-nav {
    float: left;
    position: relative;
    height: 42px;
}

.quantity-button {
    position: relative;
    cursor: pointer;
    border-left: 1px solid #eee;
    width: 20px;
    text-align: center;
    color: #333;
    font-size: 13px;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    line-height: 1.7;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.quantity-button.quantity-up {
    position: absolute;
    height: 50%;
    top: 0;
    border: none;
}

.quantity-button.quantity-down {
    position: absolute;
    bottom: -1px;
    height: 50%;
}


.background-purple {
    background-color: #baa499 !important;
}
