<form action="" method="post" enctype="multipart/form-data">
    {{ csrf('POST') }}

    <div class="row">
        <div class="col-6">
            {{ label({'value': 'Fournisseur'}) }}
            {{ input({'name': 'provider', 'placeholder': 'Fournisseur...'}) }}

            {{ label({'value': 'Date'}) }}
            {{ input({'type': 'date', 'name': 'date', 'placeholder': 'Date de la facture', 'required': false}) }}

            <label class="mt-5">Stock associé (Stock | Quantité entrante )</label>
            <button id="btn-add-stock" style="display: inline-block;" type="button" class="btn btn-info float-xl-right mt-5" onclick="addStock()">Ajouter</button>

            <div id="stock-box">

            </div>
        </div>
        <div class="col-6">
            {{ first() }}
            {{ label({'value': 'Total'}) }}
            {{ input({'type': 'number', 'step': 0.01, 'name': 'total', 'placeholder': 'Total de la facure', 'required': false}) }}

            {{ label({'value': 'Factures'}) }}
            {{ input({'type':'file', 'name': 'document', 'multiple': true, 'required': false}) }}
        </div>
        {{ input({'type': 'submit', 'value': 'Enregistrer', 'class': 'btn btn-success'}) }}
    </div>
</form>
