{% extends 'manager/layout/layout.manager.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <a href="{{ path('admin.purchase.index') }}" class="btn btn-primary float-xl-right">Retour</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Créer un achat</h4>
                    </div>
                    <div class="card-body">
                        {{ include('manager/purchase/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="id-active">document</div>
{% endblock %}

{% block script %}
    <script type="text/javascript">

        let index_stock = 0;

        function addStock() {
            index_stock++;

            let content = "<div class=\"form-group\">\n" +
                "                <select id=\"form_select_" + index_stock + "\" class=\"select2 col-5\" name=\"stocks[]\">\n" +
                "                    <option value=\"\">Aucun stock sélectionné</option>" +
                "                    {% for stock in stocks %}\n" +
                "                        <option value=\"{{ stock.id }}\">{{ stock.id }} | {{ stock.name }}</option>\n" +
                "                    {% endfor %}\n" +
                "                </select>\n" +
                "                <input class=\"form-control col-5\" style=\"display: inline-block;\" type=\"number\" name=\"stock_quantity[]\" placeholder=\"Quantité\">\n" +
                "            </div>";

            document.getElementById('stock-box').insertAdjacentHTML('beforeEnd', content);

            $('#form_select_' + index_stock).select2();
        }
    </script>
{% endblock %}
