{% extends 'manager/layout/layout.manager.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <a href="{{ path('admin.purchase.create') }}" class="btn btn-success col-2">
                            <i class="fas fa-plus-square"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">
                            <i class="fas fa-shopping-cart"></i>
                            Achats
                        </h4>
                    </div>
                    <div class="card-body">
                        <table id="datatable" class="table table-striped table-secondary">
                            <thead>
                            <tr>
                                <th>Fournisseur</th>
                                <th>Total</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for purchase in purchases %}
                                <tr>
                                    <td>{{ purchase.provider }}</td>
                                    <td>{{ str_price(purchase.total) }} </td>
                                    <td>{{ purchase.date }}</td>
                                    <td>
                                        <a href="{{ path('admin.purchase.show', {'id': purchase.id}) }}" class="btn btn-primary col-12">
                                            <i class="fas fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="id-active">document</div>
{% endblock %} 
