{% extends 'manager/layout/layout.manager.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <a href="{{ path('admin.purchase.index') }}" class="btn btn-primary float-xl-right">Retour</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class=row>
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Achat</h4>
                    </div>
                    <div class="card-body">
                        <table class="table col-8">
                            <tr>
                                <th>Fournisseur</th>
                                <td>{{ purchase.provider }}</td>
                            </tr>
                            <tr>
                                <th>Date</th>
                                <td>{{ purchase.date }}</td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td>{{ purchase.total|number_format(2, ',', '') }} €</td>
                            </tr>
                            <tr>
                                <th>Factures</th>
                                <td>
                                    {% if purchase.documents is not empty %}
                                        {% for document in purchase.documents %}
                                            <a target="_blank" href="{{ path('admin.document.document.show', {'id': document.id}) }}" class="bold">
                                                #{{ document.documentName }}
                                            </a>
                                        {% endfor %}
                                    {% else %}
                                        Aucune facture a afficher
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Stocks</th>
                                <td>
                                    <table class="table table-light">
                                        {% for stock in purchase.stocks %}
                                            <tr>
                                                <td><a href="{{ path('admin.stock.show', {'id': stock.id}) }}" class="bold">#{{ stock.id }}</a></td>
                                                <td>{{ stock.name }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="id-active">document</div>
{% endblock %} 
