<form action="{{ path('admin.memory.create') }}" method="post">
    {{ csrf('POST') }}

    {{ bootstrap(false) }}
    {{ input({'name': 'content', 'placeholder': 'Saisissez votre mémo...', 'class': 'form-control'}) }}

    {{ bootstrap(true) }}
    {{ input({'type': 'submit', 'class': 'btn btn-success', 'value': 'Enregistrer'}) }}
</form>
