{% extends 'manager/layout/layout.manager.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <a href="{{ path('admin.system.reload') }}" class="btn btn-danger col-2">
                            <i class="fas fa-server"></i>
                            Nettoyage
                        </a>
                        <button disabled class="btn btn-dark float-xl-right col-2">
                            {{ date('now')|date('d/m/Y') }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">
                            <i class="fas fa-memory"></i>
                            Mémo
                        </h4>
                    </div>
                    <div class="card-body">
                        {{ include('manager/home/_form.html.twig') }}
                        <hr>
                        {% if memories is not empty %}
                            {% for memory in memories %}
                                <div class="row mt-4">
                                    <div class="col-10">
                                        <div class="text-secondary" style="font-size: 14px">{{ memory.createdAt|date('d/m/Y H:i:s') }}</div>
                                        {{ memory.content }}
                                    </div>
                                    <div class="col-2">
                                        <a href="{{ path('admin.memory.delete', {'id': memory.id, '_token': csrf('GET')}) }}" class="btn btn-danger float-xl-right col-12">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            Aucun mémo
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">
                            <i class="fas fa-shopping-basket"></i>
                            Commandes
                        </h4>
                    </div>
                    <div class="card-body">
                        <table id="datatable" class="table table-striped table-secondary">
                            <thead>
                            <tr>
                                <th>Ref</th>
                                <th>Client</th>
                                <th>Total</th>
                                <th>Date</th>
                                <th>Statut</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for ordered in orders %}
                                <tr>
                                    <td class="text-bold">
                                        <a href="{{ path('admin.ordered.show', {'id': ordered.id}) }}">#{{ ordered.id }}</a>
                                    </td>
                                    <td>
                                        <a href="{{ path('admin.customer.show', {'id': ordered.customer.id}) }}" class="text-bold">
                                            {{ ordered.customer.strName }}
                                        </a>
                                    </td>
                                    <td>{{ str_price(ordered.netToPay) }}</td>
                                    <td>
                                        {% set text = null %}
                                        {% set class = null %}

                                        {% if date('now')|date('d/m/Y') == ordered.createdAt|date('d/m/Y') %}
                                            {% set class = 'text-success' %}
                                            {% set text = "Aujourd'hui à " %}
                                        {% elseif date('now')|date('d') - 1 == ordered.createdAt|date('d') %}
                                            {% set class = 'text-orange' %}
                                            {% set text = "Hier à " %}
                                        {% else %}
                                            {% set class = 'text-danger' %}
                                            {% set text = 'Le ' ~ ordered.createdAt|date('d/m/Y') ~ ' à ' %}
                                        {% endif %}
                                        <span class="text-bold {{ class }}">{{ text }} {{ ordered.createdAt|date('H:i:s') }}</span>
                                    </td>
                                    <td class="text-bold">{{ ordered.getStrStatus }}</td>
                                    <td>
                                        <a href="{{ path('admin.ordered.show', {'id': ordered.id}) }}" class="btn btn-primary col-12">
                                            <i class="fas fa-eye"></i>
                                            ( {{ ordered.wasConsulted }} )
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="id-active">home</div>
{% endblock %}
