<form action="" method="post" enctype="multipart/form-data">
    {{ form_bind(section) }}
    {{ csrf('POST') }}

    <div class="row">
        <div class="col-6">

            {{ label({'value': 'Nom'}) }}
            {{ input({'name': 'name', 'placeholder': 'Nom de la section'}) }}

            {{ label({'value': 'Priorité'}) }}
            {{ input({'name': 'priority', 'type': 'number', 'placeholder': 'Priorité d\'affichage', 'required': false}) }}

            {{ label({'value': 'Déscription de la section (Si activé)'}) }}
            {{ textarea({'name': 'description', 'placeholder': 'Déscription de la section', 'class': 'summernote', 'required': false}) }}

        </div>
        <div class="col-6">
            {{ first() }}
            {% if context == 'update' and section.image != null %}
                {{ label({'value': 'Détacher une image'}) }}
                {{ select(
                    {'class': 'select2', 'required': false, 'name': 'detach'},
                    {'void': 'Aucune'} + compose([section], {'prop(id)': 'prop(name)'}, {'App\\Entities\\Section': 'image'})
                ) }}

            {% endif %}

            {{ label({'value': 'Ajoutez une image'}) }}
            {{ input({'type': 'file', 'required': false, 'name': 'image', 'placeholder': 'Ajouter une image'}) }}


            {{ label({'value': 'Section parente'}) }}
            {{ select(
                {'name': 'parent', 'required': false, 'class': 'select2'},
                {'void': 'Aucune'} + compose(sections, {'prop(id)': 'prop(name)'})
            ) }}
        </div>
    </div>
    {{ input({'type': 'submit', 'value': 'Enregistrer', 'class': 'btn btn-success'}) }}
</form>

