{% extends 'manager/layout/layout.manager.html.twig' %}



{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <a class="btn btn-primary float-xl-right" href="{{ path('admin.section.index') }}">Retour</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Créer une section</h4>
                    </div>
                    <div class="card-body">
                        {{ include('manager/section/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="id-active">section</div>
{% endblock %}


{% block script %}

    <script type="text/javascript">


        $('#delete-image').change(function(){

            let html = "<img style='width: 150px; height: 150px; border: 1px solid grey; margin-right: 1px' src='/storage/images/" + $(this).val() + "'>"

            $('#show').html(html);
        });

    </script>
{% endblock script %}