{% extends 'manager/layout/layout.manager.html.twig' %}


{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <a class="btn btn-primary float-xl-right col-2" href="{{ path('admin.section.index') }}">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Éditer une section</h4>
                </div>
                <div class="card-body">
                    {{ include('manager/section/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>

    <div id="id-active">section</div>
{% endblock %}


{% block script %}

    {{ include('manager/inc/_js.show.image.twig') }}
{% endblock script %}
