{% extends 'manager/layout/layout.manager.html.twig' %}


{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <a class="btn btn-success col-2" href="{{ path('admin.section.create') }}">
                            <i class="fas fa-plus-square"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">
                            <i class="fas fa-book"></i>
                            Sections
                        </h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-secondary table-striped" id="datatable">
                            <thead>
                            <tr>
                                <th>Ref</th>
                                <th>Nom</th>
                                <th>Parente</th>
                                <th>Fiche</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for section in sections %}
                                {% if section.protected == false %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('admin.section.show', {'id': section.id}) }}" class="text-bold">
                                                #{{ section.id }}
                                            </a>
                                        </td>
                                        <td>{{ section.name }}</td>
                                        <td>{{ section.parent.name }}</td>
                                        <td>
                                            <a href="{{ path('admin.section.show', {'id': section.id}) }}" class="btn btn-primary col-2">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                            <a href="{{ path('admin.section.edit', {'id': section.id}) }}" class="btn btn-secondary col-2">
                                                <i class="fas fa-pencil-alt"></i>
                                            </a>
                                            <a href="{{ path('admin.section.delete', {'id': section.id, '_token': csrf('GET')}) }}" onclick="return confirm('Êtes vous sur de vouloir supprimer cette section ?')" class="btn btn-danger col-2">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td></td>
                                        <td>{{ section.name }}</td>
                                        <td></td>
                                        <td class="text-primary text-bold text-uppercase">Section protégé</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="id-active">section</div>
{% endblock %}

