{% extends 'manager/layout/layout.manager.html.twig' %}


{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <a href="{{ path('admin.section.edit', {'id': section.id}) }}" class="btn btn-secondary col-2">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                        <a class="btn btn-primary float-xl-right col-2" href="{{ path('admin.section.index') }}">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="card" style="box-shadow: none;">
                                    <div class="card-body">
                                        {% if section.image != null %}
                                            <div class="col-12">
                                                <img src="/storage/images/{{ section.image.name }}" class="product-image">
                                            </div>
                                        {% else %}
                                            Aucune image
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card" style="box-shadow: none;">
                                    <div class="card-body">
                                        {{ section.description|raw }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Section "{{ section.name }}"</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-secondary">
                            <tbody>
                            <tr>
                                <th>Ref</th>
                                <td>{{ section.id }}</td>
                            </tr>
                            <tr>
                                <th>Nom</th>
                                <td>{{ section.name }}</td>
                            </tr>
                            <tr>
                                <th>Parent</th>
                                <td>
                                    {% if section.parent is not empty %}
                                        {{ section.parent.name }}
                                    {% else %}
                                        <a href="{{ path('admin.section.edit', {'id': section.id}) }}" class="btn btn-secondary">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                    {% endif %}

                                </td>
                            </tr>
                            <tr>
                                <th>Priorité</th>
                                <td>{{ section.priority }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="id-active">section</div>
{% endblock %}
