<form action="" method="post">

    {{ form_bind(option) }}
    {{ csrf('POST') }}

    {{ label({'value': 'Nom'}) }}
    {{ input({'name': 'name', 'placeholder': 'Nom de l\'option'}) }}

    {{ label({'value': 'Prix'}) }}
    {{ input({'name': 'price', 'placeholder': 'Prix de l\'option', 'required': false}) }}

    {{ label({'value': 'Stocks'}) }}
    {{ select(
        {'name': 'stock', 'class': 'select2 col-12', 'required': false},
        compose(stocks, {'prop(id)': 'prop(id) | prop(name)'})
    ) }}

    {{ label({'value': 'Composition'}) }}
    {{ input({'name':'content_stock', 'placeholder': 'Le produit en contient ...', 'value': option.strCompositionStock}) }}

    {{ input({'type': 'submit', 'class': 'btn btn-success', 'value': 'Enregistrer'}) }}
</form>
