{% extends 'manager/layout/layout.manager.html.twig' %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <a href="{{ path('admin.product.show', {'id': option.product.id}) }}" class="btn btn-primary float-xl-right col-2">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Éditer l'option "{{ option.name }}"</h4>
                    </div>
                    <div class="card-body">
                        {{ include('manager/option/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="id-active">product</div>
{% endblock %}
