<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Manager</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap 4 -->

    <!-- Font Awesome -->
    <link rel="stylesheet" href="/manager/plugins/fontawesome-free/css/all.min.css">

    {% block head %}

    {% endblock head %}
    {{ include('manager/inc/table-css.twig') }}

    <link rel="stylesheet" href="/manager/plugins/summernote/summernote-bs4.css">
    <link rel="stylesheet" href="/manager/plugins/select2/css/select2.min.css">

    <!-- Theme style -->
    <link rel="stylesheet" href="/manager/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <link rel="stylesheet" href="/manager/css/style.css">


</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

    {% include "manager/inc/left.menu.twig" %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>{% block title %}{% endblock title %}</h1>
                    </div>
                </div>
            </div>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                {% block body %}

                {% endblock body %}
            </div>
        </section>
    </div>
</div>
</div>

<script src="/manager/plugins/jquery/jquery.min.js"></script>
<script src="/manager/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/manager/plugins/summernote/summernote-bs4.min.js"></script>
<script src="/manager/plugins/select2/js/select2.full.min.js"></script>
<script src="/website/js/cleave/cleave.js"></script>

<script type="text/javascript">
    const summer = $(".summernote");
    summer.summernote();

    const parent = $(".select2");
    parent.select2();

    new Cleave($('input[name="postal_code"]'), {
        blocks: [2, 3]
    });

    new Cleave($('input[name="phone"]'), {
        delimiter: '.',
        blocks: [2, 2, 2, 2, 2, 0]
    });

</script>

{{ include('manager/inc/table-js.twig') }}
{% block script %}

{% endblock script %}

<!-- AdminLTE App -->
<script src="/manager/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/manager/js/demo.js"></script>

{% include "manager/inc/active.twig" %}
</body>
</html>
