<form action="" method="POST" class="mt-5">
    {{ csrf('POST') }}
    <input type="email" name="email" value="{{ form_value('email') }}" placeholder="Email" class="input" required>
    <input type="password" name="password" value="" placeholder="Mot de passe" class="input" required>
    <button type="submit" class="btn btn-purple mx-auto">Connexion</button>
</form>
