<form method="post" action="">
    {{ csrf('POST') }}

    <input type="email" value="" placeholder="Votre email" name="email" required class="input">

    <input type="submit" class="btn btn-purple float-xl-right" value="Recevoir un email">
</form>
