<form action="" method="POST" class="mt-5">
    {% for e in error %}
        - {{ e }}
    {% endfor %}
    <br>
    <br>
    {{ csrf('POST') }}
    <div class="row col-12">
        <input type="text" value="{{ form_value('last_name') }}" class="input col-5" placeholder="Nom" name="last_name" required>
        <input type="text" value="{{ form_value('number_street') }}" class="input col-5 offset-2" placeholder="Numéro de rue" name="number_street" required>
        <input type="text" value="{{ form_value('first_name') }}" class="input col-5" placeholder="Prénom" name="first_name" required>
        <input type="text" value="{{ form_value('street') }}" class="input col-5 offset-2" placeholder="Rue" name="street" required>
        <input type="email" value="{{ form_value('email') }}" class="input col-5" placeholder="Email" name="email" required>
        <input type="text" value="{{ form_value('postal_code') }}" class="input col-5 offset-2" placeholder="Code postal" name="postal_code" required>
        <input type="password" value="" minlength="6" class="input col-5" placeholder="Mot de passe" name="password" required>
        <input type="text" value="{{ form_value('city') }}" class="input col-5 offset-2" placeholder="Ville" name="city" required>
        <input type="password" value="" minlength="6" class="input col-5" placeholder="Confirmation du mot de passe" name="conf_password" required>
        <input type="text" value="{{ form_value('country', null, 'France') }}" class="input col-5 offset-2" placeholder="Pays" name="country" required>
        <input type="text" value="{{ form_value('phone') }}" class="input col-5" placeholder="Téléphone" name="phone">
        <div class="offset-2 col-5 form-group">
            <input id="offer_accept" type="checkbox" value="accept" name="offer_accept" checked>
            <label for="offer_accept">J'accepte de recevoir des offres commerciales d'une histoire de pierre</label>
        </div>
    </div>
    <button class="btn btn-purple float-xl-right" type="submit">Enregistrer</button>
</form>
