<form method="post" action="">
    {{ csrf('POST') }}

    <input type="password" value="" placeholder="Nouveau mot de passe" name="password" required class="input">

    <input type="password" value="" placeholder="Confirmez" name="conf_password" required class="input">

    <input type="submit" class="btn btn-purple float-xl-right" value="Réinitialiser">
</form>

