{% extends 'website/layout/layout.account.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5">
                <div class="row">
                    <div class="col-lg-6">
                        <h6 class="mb-5">Mes données</h6>
                        <table class="table border-0">
                            <tr>
                                <th>Nom/Prénom</th>
                                <td>{{ customer.lastName }} {{ customer.firstName }}</td>
                            </tr>
                            <tr>
                                <th>Adresse</th>
                                <td>{{ customer.getStrAddress|raw }}</td>
                            </tr>
                            <tr>
                                <th>Téléphone</th>
                                <td>
                                    {% if customer.tel is not empty %}
                                        {{ customer.tel }}
                                    {% else %}
                                        Non spécifié
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>{{ customer.email }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-6">
                        <h6 class="mb-5">Mes réductions</h6>
                        <table class="table border-0">
                            <thead>
                            <tr>
                                <th>Valeur</th>
                                <th>Code</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if reductions is not empty %}
                                {% for reduction in reductions %}
                                    <tr>
                                        <td>{{ reduction.value|number_format(2, ',', '') }} %</td>
                                        <td>
                                            {% if reduction.code is not empty %}
                                                {{ reduction.code }}
                                            {% else %}
                                                Aucun code
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="2" class="text-center">Aucune réduction</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
