{% extends 'website/layout/layout.account.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <table class="table border-0">
                    <tr class="border-0">
                        <td class="border-0">
                            <a href="{{ path('website.ordered.index') }}" class="btn btn-purple btn-lg">Commandes</a>
                        </td>
                        <td class="border-0">

                        </td>
                        <td class="border-0 text-right">
                            <a href="{{ path('website.account.data') }}" class="btn btn-purple btn-lg">Compte</a>
                        </td>
                    </tr>
                </table>
                <table class="table table-striped table-purple mt-5">
                    <thead>
                    <tr>
                        <td>Ref</td>
                        <td>Date</td>
                        <td>Statut</td>
                        <td>Action</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ordered in orders %}

                        <tr>
                            <td>#{{ ordered.id }}</td>
                            <td>Le {{ ordered.createdAt|date('d/m/Y') }} à {{ ordered.createdAt|date('H\\hi') }}</td>
                            <td>{{ ordered.getStrStatus }}</td>
                            <td><a href="{{ path('website.ordered.show', {'id': ordered.id}) }}">Voir</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %} 
