{% extends "website/layout/layout.account.html.twig" %}

{% block title %}CONNEXION{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">

                {% for e in error %}
                    - {{ e }}<br>
                {% endfor %}

                {% for s in success %}
                    - {{ s }}<br>
                {% endfor %}

                {{ include('website/account/_form.login.html.twig') }}
                <a href="{{ path('account.subscribe') }}" class="btn btn-purple float-lg-right">Inscription</a>
                <a href="{{ path('account.forgot') }}" class="btn btn-purple float-xl-right">Mot de passe oublié</a>
            </div>
        </div>
    </div>
{% endblock body %}

