{% extends "website/layout/layout.account.html.twig" %}

{% block title %}MOT DE PASSE OUBLIÉ{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                {{ include('website/account/_form.reset.html.twig') }}
                <a href="{{ path('account.subscribe') }}" class="btn btn-purple float-lg-right">Inscription</a>
                <a href="{{ path('account.login') }}" class="btn btn-purple float-xl-right">Connexion</a>
            </div>
        </div>
    </div>
{% endblock body %}
