{% extends "website/layout/layout.account.html.twig" %}

{% block title %}INSCRIPTION{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                {{ include('website/account/_form.subscribe.html.twig') }}
                <a href="{{ path('account.login') }}" class="float-xl-left btn btn-purple">Retour à la connexion</a>
            </div>
        </div>
    </div>
    <br>
    <br>
{% endblock body %}
