{% extends 'manager/layout/layout.auth.html.twig' %}


{% block class %}
    login-box
{% endblock %}

{% block body %}
    <div class="card-body login-card-body">
        <p class="login-box-msg">Connexion...</p>

        {% for e in error %}
            <div class="alert alert-danger">
                {{ e }}
            </div>
        {% endfor %}

        {% for s in success %}
            <div class="alert alert-success">
                {{ s }}
            </div>
        {% endfor %}

        <form action="" method="post">
            {{ csrf('POST') }}
            <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="Identifiant" name="email" required>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Mot de passe" name="password" required>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary d-inline-block">Connexion</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
