{% extends 'website/layout/layout.account.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table-striped table-purple mt-5">
                    <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Quantité</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set total = 0 %}

                    {% if basket is not empty %}
                        {% for product_customer in basket %}
                            <tr>
                                <td>{{ product_customer.product.name }}</td>
                                <td>{{ product_customer.quantity|number_format(2, ',', '') }}</td>
                                <td>{{ product_customer.netToPay|number_format(2, ',', '') }} €</td>
                            </tr>
                            {% set total = total + product_customer.netToPay %}
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="3">Votre panier est vide</td>
                        </tr>
                    {% endif %}
                    <tr class="background-purple text-light">
                        <td colspan="2" class="border-0 font-italic">TOTAL</td>
                        <td>{{ total|number_format(2, ',', '') }} €</td>
                    </tr>
                    </tbody>
                </table>

                <a href="{{ path('website.section.last') }}" class="btn btn-purple pull-left mt-5 mb-5">RETOUR</a>
                <a href="{{ path('website.ordered.create') }}" class="btn btn-purple btn-md mt-5 float-xl-right">COMMANDER</a>
            </div>
        </div>
    </div>
{% endblock %} 
