<script type="text/javascript">
    $('#delete-image').change(function(){


        let html = null;

        if($(this).val() !== "")
            html = "<img style='width: 150px; height: 150px; border: 1px solid grey; margin-right: 1px' src='/storage/images/" + $(this).val() + "'>"
        else
            html = null;

        $('#show').html(html);
    });
</script>