<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-dark navbar">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li>
            <a class="btn btn-light float-xl-right" href="{{ path('admin.account.logout') }}">Déconnexion</a>
        </li>
    </ul>
</nav>


{% for success in app.flashes('success') %}
    <div class="alert alert-success text-center" role="alert">{{ success }}</div>
{% endfor %}

    {% for error in app.flashes('error') %}
        <div class="alert alert-danger text-center" role="alert">{{ error }}</div>
    {% endfor %}

    {% if error is defined %}
        {% if error is iterable %}
            {% for entry in error %}
                <div class="alert alert-danger text-center" role="alert">{{ entry }}</div>
            {% endfor %}
        {% else %}
            <div class="alert alert-danger text-center" role="alert">{{ error }}</div>
        {% endif %}
    {% endif %}

    {% if success is defined %}
        {% if success is iterable %}
            {% for entry in success %}
                <div class="alert alert-success text-center" role="alert">{{ entry }}</div>
            {% endfor %}
        {% else %}
            <div class="alert alert-success text-center" role="alert">{{ success }}</div>
        {% endif %}
    {% endif %}

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">

    <!-- Brand Logo -->
    <p class="text-center vertical-align mt-4" style="color: white; font-weight: bold;">BACK-END Manager</p>

    <!-- Sidebar -->
    <div class="sidebar">

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item has-treeview">
                    <a id="home" href="{{ path('admin.home') }}" class="nav-link">
                        <i class="nav-icon fas fa-home"></i>
                        <p>Accueil</p>
                    </a>
                </li>
                <li class="nav-header">SITE INTERNET</li>
                <li class="nav-item has-treeview">
                    <a id="section" href="{{ path('admin.section.index') }}" class="nav-link">
                        <i class="nav-icon fas fa-book"></i>
                        <p>Sections</p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a id="w-product" href="{{ path('admin.product.web.index') }}" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Produits</p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a id="w-reduction" href="{{ path('admin.reduction.web.index') }}" class="nav-link">
                        <i class="nav-icon fas fa-percent"></i>
                        <p>Promotions</p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a id="image" href="{{ path('admin.image.index') }}" class="nav-link">
                        <i class="nav-icon fas fa-image"></i>
                        <p>Images</p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a id="article" href="{{ path('admin.article.index') }}" class="nav-link">
                        <i class="nav-icon fas fa-blog"></i>
                        <p>Articles</p>
                    </a>
                </li>
                <li class="nav-header">E-COMMERCE</li>
                <li class="nav-item has-treeview">
                    <a id="ordered" href="{{ path('admin.ordered.index') }}" class="nav-link">
                        <i class="nav-icon fas fa-shopping-cart"></i>
                        <p>Commandes</p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a id="product" href="{{ path('admin.product.index') }}" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Produits</p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a id="stock" href="{{ path('admin.stock.index') }}" class="nav-link">
                        <i class="nav-icon fas fa-box-open"></i>
                        <p>Stock</p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a id="reduction" href="{{ path('admin.reduction.index') }}" class="nav-link">
                        <i class="nav-icon fas fa-percent"></i>
                        <p>Promotions</p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a id="customer" href="{{ path('admin.customer.index') }}" class="nav-link">
                        <i class="nav-icon fas fa-user"></i>
                        <p>Clients</p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a id="payment" href="{{ path('admin.payment.index') }}" class="nav-link">
                        <i class="nav-icon fas fa-credit-card"></i>
                        <p>Paiements</p>
                    </a>
                </li>
                <li class="nav-header">ENTREPRISE</li>
                <li class="nav-item has-treeview">
                    <a id="document" href="#" class="nav-link">
                        <i class="nav-icon fas fa-file-pdf"></i>
                        <p>
                            Documents
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ path('admin.invoice.index') }}" class="nav-link">
                                <p>Factures</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('admin.credit.index') }}" class="nav-link">
                                <p>Avoirs</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('admin.purchase.index') }}" class="nav-link">
                                <p>Achats</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a id="general" href="#" class="nav-link">
                        <i class="nav-icon fas fa-store-alt"></i>
                        <p>
                            Général
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ path('admin.general.statistic.index') }}" class="nav-link">
                                <p>Statistiques</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('admin.general.google.index') }}" class="nav-link">
                                <p>Google analytics</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-header">EXTERNE</li>
                <li class="nav-item has-treeview">
                    <a id="numerology" href="{{ path('admin.external.numerology') }}" class="nav-link">
                        <i class="nav-icon fas fa-calculator"></i>
                        <p>Numerologie</p>
                    </a>
                </li>
                <li class="nav-header">SOFTWARE</li>
                <li class="nav-item has-treeview">
                    <a id="software" href="{{ path('admin.system.software') }}" class="nav-link">
                        <i class="nav-icon fas fa-cogs"></i>
                        <p>Software</p>
                    </a>
                </li>
                <br>
                <br>
                <br>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
