<script src="/manager/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/manager/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/manager/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/manager/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>


<script type="text/javascript">

    var table = $("#datatable").DataTable({
        "language": {
            "sEmptyTable": "Aucune donnée disponible",
            "sInfo": "Affichage de l'élément _START_ à _END_ sur _TOTAL_ éléments",
            "sInfoEmpty": "Affichage de l'entrée 0 à 0 sur 0 produits",
            "sInfoFiltered": "(filtré à partir de _MAX_ produits au total)",
            "sInfoPostFix": "",
            "sInfoThousands": ",",
            "sLengthMenu": "Afficher _MENU_ éléments",
            "sLoadingRecords": "Chargement...",
            "sProcessing": "Traitement...",
            "sSearch": "Rechercher:",
            "sZeroRecords": "Aucune donnée correspondante trouvée",
            "oPaginate": {
                "sFirst": "Premier",
                "sLast": "Dernier",
                "sNext": "Suivant",
                "sPrevious": "Précédent"
            },
            "oAria": {
                "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                "sSortDescending": ": activer pour trier la colonne par ordre décroissant"
            },
            "select": {
                "rows": {
                    "_": "%d lignes sélectionnées",
                    "0": "Aucune ligne sélectionnée",
                    "1": "1 ligne sélectionnée"
                }
            }
        },
        "aaSorting": []
    });

    let table_two = $("#datatable2").DataTable({
        "language": {
            "sEmptyTable": "Aucune donnée disponible",
            "sInfo": "Affichage de l'élément _START_ à _END_ sur _TOTAL_ éléments",
            "sInfoEmpty": "Affichage de l'entrée 0 à 0 sur 0 produits",
            "sInfoFiltered": "(filtré à partir de _MAX_ produits au total)",
            "sInfoPostFix": "",
            "sInfoThousands": ",",
            "sLengthMenu": "Afficher _MENU_ éléments",
            "sLoadingRecords": "Chargement...",
            "sProcessing": "Traitement...",
            "sSearch": "Rechercher:",
            "sZeroRecords": "Aucune donnée correspondante trouvée",
            "oPaginate": {
                "sFirst": "Premier",
                "sLast": "Dernier",
                "sNext": "Suivant",
                "sPrevious": "Précédent"
            },
            "oAria": {
                "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                "sSortDescending": ": activer pour trier la colonne par ordre décroissant"
            },
            "select": {
                "rows": {
                    "_": "%d lignes sélectionnées",
                    "0": "Aucune ligne sélectionnée",
                    "1": "1 ligne sélectionnée"
                }
            }
        },
        "aaSorting": []
    });


</script>
