{% extends 'manager/layout/layout.manager.html.twig' %}

{% block body %}
    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">
                            <i class="fas fa-credit-card"></i>
                            Paiements
                        </h4>
                    </div>
                    <div class="card-body">
                        <table id="datatable" class="table table-striped table-success">
                            <thead>
                            <tr>
                                <th>Ref</th>
                                <th>Client</th>
                                <th>Commande</th>
                                <th>Facture</th>
                                <th>Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for payment in payments %}
                                <tr>
                                    <td>#{{ payment.id }}</td>
                                    <td>
                                        <a href="{{ path('admin.customer.show', {'id': payment.customer.id}) }}" class="text-bold">
                                            {{ payment.customer.firstName }} {{ payment.customer.lastName }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ path('admin.ordered.show', {'id': payment.invoice.ordered.id}) }}" class="text-bold">
                                            #{{ payment.invoice.ordered.id }}
                                        </a>
                                    </td>
                                    <td>
                                        <a target="_blank" href="{{ path('admin.document.invoice.show', {'id': payment.invoice.id}) }}" class="btn btn-primary col-12">
                                            <i class="fas fa-download"></i>
                                        </a>
                                    </td>
                                    <td>
                                        {{ str_price(payment.invoice.netToPay) }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="id-active">payment</div>
{% endblock %} 
