<form action="" method="post">
    {{ csrf('POST') }}

    <div class="form-group">
        <label for="form_invoice">Facture</label>
        <select class="select2" name="invoice" id="form_invoice">
            {% for invoice in invoices %}
                <option {{ form_value('invoice', invoice.id) }} value="{{ invoice.id }}">{{ invoice.id }} | {{ invoice.customer.firstName }} {{ invoice.customer.lastName }}</option>
            {% endfor %}
        </select>
    </div>

    {{ label({'value': 'Paiement'}) }}
    {{ select(
        {'name': 'way', 'class': 'select2'},
        {'Carte bancaire': 'Carte bancaire', 'Chèque bancaire': 'Chèque bancaire', 'Éspèces': 'Éspèces'}
    ) }}

    <div id="form_product" class="mt-5">
        <table class="table border-0">
            <tr>
                <td colspan="2">Nom | Prix | Quantité</td>
                <td class="text-right">
                    <button class="btn btn-primary" onclick="addProduct(); return false;">
                        <i class="fas fa-plus-square"></i>
                    </button>
                </td>
            </tr>
        </table>

        <table class="table border-0">
            <tr>
                <td><input type="text" name="name[]" class="form-control" placeholder="Nom du produit" required></td>
                <td><input type="number" name="price[]" class="form-control" step="0.01" placeholder="Prix du produit" required></td>
                <td><input type="number" name="quantity[]" class="form-control" value="1" required></td>
            </tr>
        </table>

    </div>

    {{ input({'type': 'submit', 'class': 'btn btn-success', 'value': 'Enregistrer'}) }}
</form>
