<script type="text/javascript">

    let index_product = 0;

    // ------------------------------------- PRODUCT -------------------------------------
    function addProduct() {

        let elem = "<table id='table_" + index_product + "' class=\"table border-0\">\n" +
            "            <tr>\n" +
            "                <td><input type=\"text\" name=\"name[]\" class=\"form-control\" placeholder=\"Nom du produit\" required></td>\n" +
            "                <td><input type=\"number\" name=\"price[]\" class=\"form-control\" step=\"0.01\" placeholder=\"Prix du produit\" required></td>\n" +
            "                <td><input type=\"number\" name=\"quantity[]\" class=\"form-control\" value=\"1\" required></td>\n" +
            " <td><button type='button' class='btn btn-danger' onclick=\"removeProduct(" + index_product + "); return false;\"><i class='fas fa-trash'></i> </button> </td>" +
            "            </tr>\n" +
            "        </table>";

        document.getElementById('form_product').insertAdjacentHTML('beforeEnd', elem);
    }

    function removeProduct(id) {
        $('#table_' + id).remove();
    }
</script>
