{% extends 'manager/layout/layout.manager.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <a href="{{ path('admin.credit.index') }}" class="btn btn-primary float-xl-right">
                            Retour
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">
                            <i class="fas fa-pencil-alt"></i>
                            Créer un avoir
                        </h4>
                    </div>
                    <div class="card-body">
                        {{ include('manager/credit/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ include('manager/credit/_js.html.twig') }}
{% endblock %}
