{% extends 'manager/layout/layout.manager.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <a href="{{ path('admin.credit.create') }}" class="btn btn-success">
                            <i class="fas fa-pencil-alt"></i>
                            Créer un avoir
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">
                            <i class="fas fa-file-invoice"></i>
                            Avoirs
                        </h4>
                    </div>
                    <div class="card-body">
                        <table id="datatable" class="table table-striped table-success">
                            <thead>
                            <tr>
                                <th>Ref</th>
                                <th>Client</th>
                                <th>Total</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for credit in credits %}
                                <tr>
                                    <td>{{ credit.id }}</td>
                                    <td>{{ credit.customer.firstName }} {{ credit.customer.lastName }}</td>
                                    <td>
                                        {{ credit.total|number_format(2, ',','') }} €
                                    </td>
                                    <td>{{ str_date(credit.createdAt) }}</td>
                                    <td>
                                        <a target="_blank"
                                           href="{{ path('admin.document.credit.show', {'id': credit.id}) }}"
                                           class="btn btn-primary">

                                            Télécharger
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="id-active">document</div>
{% endblock %} 
