<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Bijoux &amp; Pierres Naturelles | Une histoire de pierres Boutique en ligne.</title>

    <meta name="description" content="Une Histoire de Pierres, boutique de Bijoux, Bijoux sur mesure, Minéraux, Pierres naturelles, Esoterisme, Minéraux. Livraison rapide en 48h..."/>
    <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:locale" content="fr_FR"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Bijoux &amp; Pierres Naturelles | Une histoire de pierres Boutique en ligne."/>
    <meta property="og:description" content="Une Histoire de Pierres, boutique de Bijoux, Bijoux sur mesure, Minéraux, Pierres naturelles, Esoterisme, Minéraux. Livraison rapide en 48h..."/>
    <meta property="og:url" content="https://histoire-de-pierres.fr/"/>
    <meta property="og:site_name" content="Une Histoire de Pierres"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:description" content="Une Histoire de Pierres, boutique de Bijoux, Bijoux sur mesure, Minéraux, Pierres naturelles, Esoterisme, Minéraux. Livraison rapide en 48h..."/>
    <meta name="twitter:title" content="Bijoux &amp; Pierres Naturelles | Une histoire de pierres Boutique en ligne."/>
    <script type='application/ld+json'>{
            "@context": "https://schema.org",
            "@graph": [
                {
                    "@type": "WebSite",
                    "@id": "https://histoire-de-pierres.fr/#website",
                    "url": "https://histoire-de-pierres.fr/",
                    "name": "Une Histoire de Pierres",
                    "potentialAction": {
                        "@type": "SearchAction",
                        "target": "https://histoire-de-pierres.fr/?s={search_term_string}",
                        "query-input": "required name=search_term_string"
                    }
                },
                {
                    "@type": "WebPage",
                    "@id": "https://histoire-de-pierres.fr/#webpage",
                    "url": "https://histoire-de-pierres.fr/",
                    "inLanguage": "fr-FR",
                    "name": "Bijoux &amp; Pierres Naturelles | Une histoire de pierres Boutique en ligne.",
                    "isPartOf": {
                        "@id": "https://histoire-de-pierres.fr/#website"
                    },
                    "datePublished": "2017-08-01T13:09:30+00:00",
                    "dateModified": "2019-12-18T13:09:45+00:00",
                    "description": "Une Histoire de Pierres, boutique de Bijoux, Bijoux sur mesure, Min\u00e9raux, Pierres naturelles, Esoterisme, Min\u00e9raux. Livraison rapide en 48h..."
                }
            ]
        }</script>


    <!-- Css Styles -->
    <link rel="stylesheet" href="/website/css/bootstrap.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="/website/css/slicknav.min.css" type="text/css" media="screen and (max-width: 780px)">
    <link rel="stylesheet" href="/website/css/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="/website/css/uhp_style.css" type="text/css" media="all">
    <link rel="stylesheet" href="/website/css/font.css" type="text/css" media="all">

    {{ include('manager/inc/table-css.twig') }}
    {% block head %}{% endblock %}
    <style type="text/css">

        .slider-item .single-slider-item {
            height: 450px;
            padding-top: 300px;
            background-size: cover !important;
        }

        .header-section {
            background: rgb(251, 247, 247);
        }

        .inner-header .main-menu ul li a {
            color: #7e8485;
        }

    </style>
</head>
<body>
{% include "website/inc/menu-section.twig" %}

<div class="hero-slider">
    <div class="slider-item">
        <div class="single-slider-item " style='background-image: url("/website/img/pierre.3.0.png");'>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>{% block title %}{% endblock title %}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% block body %}

{% endblock body %}
<br><br>
{{ include('website/inc/footer.twig') }}

<script src="/website/js/jquery-3.3.1.min.js"></script>
<script src="/website/js/bootstrap.min.js"></script>
<script src="/website/js/jquery.slicknav.js"></script>
<script src="/website/js/cleave/cleave.js"></script>

{{ include('manager/inc/table-js.twig') }}

<script type="text/javascript">

    $('#haveAccount').hide();

    if ($('#toggle').text() == '')
        $('#other').hide();

    if ($('#void').text() != '')
        $('#btn-form-submit').attr("disabled", "true");

    /*
        ACTIVE MOBILE MENU
    */

    $(".mobile-menu").slicknav({prependTo: '#mobile-menu-wrap', allowParentLinks: true});


    /*
        Cleave...
    */
    new Cleave($('input[name="postal_code"]'), {
        blocks: [2, 3]
    });

    new Cleave($('input[name="phone"]'), {
        delimiter: '.',
        blocks: [2, 2, 2, 2, 2, 0]
    });
</script>

{% block script %}

{% endblock script %}
</body>
</html>
