<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Bijoux &amp; Pierres Naturelles | Une histoire de pierres Boutique en ligne.</title>

    <meta name="description" content="Une Histoire de Pierres, boutique de Bijoux, Bijoux sur mesure, Minéraux, Pierres naturelles, Esoterisme, Minéraux. Livraison rapide en 48h..."/>
    <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:locale" content="fr_FR"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Bijoux &amp; Pierres Naturelles | Une histoire de pierres Boutique en ligne."/>
    <meta property="og:description" content="Une Histoire de Pierres, boutique de Bijoux, Bijoux sur mesure, Minéraux, Pierres naturelles, Esoterisme, Minéraux. Livraison rapide en 48h..."/>
    <meta property="og:url" content="https://histoire-de-pierres.fr/"/>
    <meta property="og:site_name" content="Une Histoire de Pierres"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:description" content="Une Histoire de Pierres, boutique de Bijoux, Bijoux sur mesure, Minéraux, Pierres naturelles, Esoterisme, Minéraux. Livraison rapide en 48h..."/>
    <meta name="twitter:title" content="Bijoux &amp; Pierres Naturelles | Une histoire de pierres Boutique en ligne."/>
    <script type='application/ld+json'>{
            "@context": "https://schema.org",
            "@graph": [
                {
                    "@type": "WebSite",
                    "@id": "https://histoire-de-pierres.fr/#website",
                    "url": "https://histoire-de-pierres.fr/",
                    "name": "Une Histoire de Pierres",
                    "potentialAction": {
                        "@type": "SearchAction",
                        "target": "https://histoire-de-pierres.fr/?s={search_term_string}",
                        "query-input": "required name=search_term_string"
                    }
                },
                {
                    "@type": "WebPage",
                    "@id": "https://histoire-de-pierres.fr/#webpage",
                    "url": "https://histoire-de-pierres.fr/",
                    "inLanguage": "fr-FR",
                    "name": "Bijoux &amp; Pierres Naturelles | Une histoire de pierres Boutique en ligne.",
                    "isPartOf": {
                        "@id": "https://histoire-de-pierres.fr/#website"
                    },
                    "datePublished": "2017-08-01T13:09:30+00:00",
                    "dateModified": "2019-12-18T13:09:45+00:00",
                    "description": "Une Histoire de Pierres, boutique de Bijoux, Bijoux sur mesure, Min\u00e9raux, Pierres naturelles, Esoterisme, Min\u00e9raux. Livraison rapide en 48h..."
                }
            ]
        }</script>


    <!-- Css Styles -->
    <link rel="stylesheet" href="/website/css/bootstrap.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="/website/css/slicknav.min.css" type="text/css" media="screen and (max-width: 780px)">
    <link rel="stylesheet" href="/website/css/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="/website/css/uhp_style.css" type="text/css" media="all">
    <link rel="stylesheet" href="/website/css/font.css" type="text/css" media="all">

    <style type="text/css">

        .slider-item .single-slider-item {
            height: 450px;
            padding-top: 300px;
            background-size: cover !important;
        }

        .header-section {
            background: rgb(251, 247, 247);
        }

        .inner-header .main-menu ul li a {
            color: #7e8485;
        }

    </style>
</head>
<body>
{% include "website/inc/menu-section.twig" %}

<div class="hero-slider">
    <div class="slider-item">
        <div class="single-slider-item " style='background-image: url("/website/img/pierre.3.0.png"); background-size: 100%;background-repeat: no-repeat'>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>ARTICLES & EVENEMENTS</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="container-fluid">
    <div class="row col-12">
        <article class="card col-md-12 col-lg-9" style="border: 0px">
            <div class="card-body">
                <img style="width: 70%" src="{{ front.article.image.publicFilename }}" alt="Poster">
                <p>
                    <i class="fa fa-calendar-minus-o"></i>
                    {{ str_date(front.article.createdAt) }}
                </p>
                <hr>
                <h1 class="h3 suggest mb-5">{{ front.article.title }}</h1>

                {{ front.article.content|raw }}
            </div>
        </article>

        <div class="card col-md-12 col-lg-3 card-basket mt-5">
            <div class="card-header">
                <p>ARTICLES</p>
            </div>
            <div class="card-body card-artEv scroll-card">
                {% for article in front.articles %}
                    {% if article.id != front.article.id and typeInt == 0 %}
                        <a href="{{ path('website.article.show', {'id': article.id}) }}">
                            - {{ article.title }}
                        </a>
                        <br>
                    {% endif %}
                {% endfor %}

            </div>
            <div class="card-header">
                <p>EVENEMENTS</p>
            </div>
            <div class="card-body card-artEv scroll-card">
                {% for article in front.articles %}
                    {% if article.id != front.article.id and article.typeInt == 1 %}
                        <a href="{{ path('website.article.show', {'id': article.id}) }}">
                            - {{ article.title }}
                        </a>
                        <br>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
</section>
<br><br>
{{ include('website/inc/footer.twig') }}


<script src="/website/js/jquery-3.3.1.min.js"></script>
<script src="/website/js/bootstrap.min.js"></script>
<script src="/website/js/jquery.slicknav.js"></script>
<script src="/website/js/lazyload.js"></script>
<script src="/website/js/cleave/cleave.js"></script>

<script type="text/javascript">
    /*
    LAZYLOADING
    */
    lazyload();

    /*
    ACTIVE MOBILE MENU
    */

    $(".mobile-menu").slicknav({prependTo: '#mobile-menu-wrap', allowParentLinks: true});


    /*
    ACTIVE MODAL
    */
    let modal = $('#active-modal').text();
    $(modal).modal('toggle').modal('show');


    $('<div class="quantity-nav"><div class="quantity-button quantity-up">+</div><div class="quantity-button quantity-down">-</div></div>').insertAfter('.quantity input');
    $('.quantity').each(function () {
        var spinner = $(this),
            input = spinner.find('input[type="number"]'),
            btnUp = spinner.find('.quantity-up'),
            btnDown = spinner.find('.quantity-down'),
            min = input.attr('min'),
            max = input.attr('max');

        btnUp.click(function () {
            var oldValue = parseFloat(input.val());
            if (oldValue >= max) {
                var newVal = oldValue;
            } else {
                var newVal = oldValue + 1;
            }
            spinner.find("input").val(newVal);
            spinner.find("input").trigger("change");
        });

        btnDown.click(function () {
            var oldValue = parseFloat(input.val());
            if (oldValue <= min) {
                var newVal = oldValue;
            } else {
                var newVal = oldValue - 1;
            }
            spinner.find("input").val(newVal);
            spinner.find("input").trigger("change");
        });

    });

    new Cleave($('input[name="postal_code"]'), {
        blocks: [2, 3]
    });

    new Cleave($('input[name="phone"]'), {
        delimiter: '.',
        blocks: [2, 2, 2, 2, 2, 0]
    });

    function changeProp(selector, name, value) {
        $(selector + '[name="' + name + '"]').attr("type", value);
    }

    function login(toggle1, toggle2) {
        $(toggle1).modal('toggle');
        $(toggle2).modal('toggle');
    }

</script>

{% block script %}

{% endblock script %}
</body>
</html>
