<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Bijoux &amp; Pierres Naturelles | Une histoire de pierres Boutique en ligne.</title>

    <meta name="description" content="Une Histoire de Pierres, boutique de Bijoux, Bijoux sur mesure, Minéraux, Pierres naturelles, Esoterisme, Minéraux. Livraison rapide en 48h..."/>
    <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:locale" content="fr_FR"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Bijoux &amp; Pierres Naturelles | Une histoire de pierres Boutique en ligne."/>
    <meta property="og:description" content="Une Histoire de Pierres, boutique de Bijoux, Bijoux sur mesure, Minéraux, Pierres naturelles, Esoterisme, Minéraux. Livraison rapide en 48h..."/>
    <meta property="og:url" content="https://histoire-de-pierres.fr/"/>
    <meta property="og:site_name" content="Une Histoire de Pierres"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:description" content="Une Histoire de Pierres, boutique de Bijoux, Bijoux sur mesure, Minéraux, Pierres naturelles, Esoterisme, Minéraux. Livraison rapide en 48h..."/>
    <meta name="twitter:title" content="Bijoux &amp; Pierres Naturelles | Une histoire de pierres Boutique en ligne."/>
    <script type='application/ld+json'>{
            "@context": "https://schema.org",
            "@graph": [
                {
                    "@type": "WebSite",
                    "@id": "https://histoire-de-pierres.fr/#website",
                    "url": "https://histoire-de-pierres.fr/",
                    "name": "Une Histoire de Pierres",
                    "potentialAction": {
                        "@type": "SearchAction",
                        "target": "https://histoire-de-pierres.fr/?s={search_term_string}",
                        "query-input": "required name=search_term_string"
                    }
                },
                {
                    "@type": "WebPage",
                    "@id": "https://histoire-de-pierres.fr/#webpage",
                    "url": "https://histoire-de-pierres.fr/",
                    "inLanguage": "fr-FR",
                    "name": "Bijoux &amp; Pierres Naturelles | Une histoire de pierres Boutique en ligne.",
                    "isPartOf": {
                        "@id": "https://histoire-de-pierres.fr/#website"
                    },
                    "datePublished": "2017-08-01T13:09:30+00:00",
                    "dateModified": "2019-12-18T13:09:45+00:00",
                    "description": "Une Histoire de Pierres, boutique de Bijoux, Bijoux sur mesure, Min\u00e9raux, Pierres naturelles, Esoterisme, Min\u00e9raux. Livraison rapide en 48h..."
                }
            ]
        }</script>


    <!-- Css Styles -->
    <link rel="stylesheet" href="/website/css/bootstrap.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="/website/css/slicknav.min.css" type="text/css" media="screen and (max-width: 780px)">
    <link rel="stylesheet" href="/website/css/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="/website/css/uhp_style.css" type="text/css" media="all">
    <link rel="stylesheet" href="/website/css/font.css" type="text/css" media="all">

</head>
<body>
{% include "website/inc/menu.twig" %}

<div class="hero-slider mb-4">
    <div class="slider-item">
        <div class="single-slider-item" style='background-image: url("/website/img/lithotherapie.1.0.jpg");'>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 ">
                        <h1>DÉCOUVREZ TOUS NOS BIJOUX ET NOS PIERRES.</h1>
                        <button class="btn btn-lg btn-hard-dark" type="button">DÉCOUVRIR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="container-fluid">
    <div class="row col-12">
        <section class="home-introduction mt-5 mb-5 offset-2 col-8" style="background-image: url(/website/img/home_mineraux.jpg);">
            <h1 class="col-6">"Une citation qui touche l'inconscient..."</h1>
        </section>
        {% block reduction %}{% endblock reduction %}

        {% block product %}{% endblock product %}

        {% block detailProduct %}{% endblock detailProduct %}
    </div>
</section>

{% if front.article is not empty %}
    <section class="container-fluid" style="background: #baa499">
        <hr>
        <h1 class="suggest h1 text-center text-white">NOS ARTICLES</h1>

        <div class="row col-12">
            {% for article in front.article %}
                <article class="card col-sm-12 col-md-4 col-lg-3 mt-5 mb-5 offset-1 card-article">
                    <a href="{{ path('website.article.show', {'id': article.id}) }}" data-src="{{ article.image.publicFilename }}" class="lazyload font-img">
                        <img class="lazyload" src="" data-src="{{ article.image.publicFilename }}" alt="image">
                    </a>
                    <noscript>
                        <img src="{{ article.image.publicFilename }}" alt="image">
                    </noscript>
                    <div class="card-body body-article">
                        <h1 class="card-title h5 text-center mb-5">{{ article.title|upper }}</h1>

                        {{ article.content|slice(0,500)|raw }}[...]

                    </div>
                    <div class="card-footer">
                        <div class="col-12 mt-2 text-center btn-see" style="margin-bottom: 0px;">
                            <a href="{{ path('website.article.show', {'id': article.id}) }}">
                                <button class="btn btn-purple col-11" type="submit">LIRE</button>
                            </a>
                        </div>
                    </div>
                </article>

            {% endfor %}
        </div>
    </section>
{% endif %}

<section class="container-fluid" style="padding: 0px">
    <div class="row slide-footer">
        <div class="hero-slider col-sm-12 col-md-6 left">
            <div class="slider-item">
                <div class="single-slider-item " style='background-image: url("/website/img/tour.jpeg");'>
                    <div class="container">
                        <h1>QUI SOMMES NOUS ?</h1>
                        <a class="btn btn-lg btn-hard-dark" href="{{ path('website.page.identity') }}">EN SAVOIR PLUS</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-slider col-sm-12 col-md-6 right">
            <div class="slider-item">
                <div class="single-slider-item " style='background-image: url("/website/img/river.jpeg");'>
                    <div class="container">
                        <h1>CRÉEZ VOS PROPRES BIJOUX</h1>
                        <button class="btn btn-lg btn-hard-dark" type="button">EN SAVOIR PLUS</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ include('website/inc/footer.twig') }}
<br>
<br>

<!-- Js Plugins -->
<script src="/website/js/jquery-3.3.1.min.js"></script>
<script src="/website/js/bootstrap.min.js"></script>
<script src="/website/js/jquery.slicknav.js"></script>

<script src="/website/js/lazyload.js"></script>
<script src="/website/js/cleave/cleave.js"></script>

<script type="text/javascript">
    lazyload();

    $(".mobile-menu").slicknav({prependTo: '#mobile-menu-wrap', allowParentLinks: true});
    $('<div class="quantity-nav"><div class="quantity-button quantity-up">+</div><div class="quantity-button quantity-down">-</div></div>').insertAfter('.quantity input');
    $('.quantity').each(function () {
        var spinner = $(this),
            input = spinner.find('input[type="number"]'),
            btnUp = spinner.find('.quantity-up'),
            btnDown = spinner.find('.quantity-down'),
            min = input.attr('min'),
            max = input.attr('max');

        btnUp.click(function () {
            var oldValue = parseFloat(input.val());
            if (oldValue >= max) {
                var newVal = oldValue;
            } else {
                var newVal = oldValue + 1;
            }
            spinner.find("input").val(newVal);
            spinner.find("input").trigger("change");
        });

        btnDown.click(function () {
            var oldValue = parseFloat(input.val());
            if (oldValue <= min) {
                var newVal = oldValue;
            } else {
                var newVal = oldValue - 1;
            }
            spinner.find("input").val(newVal);
            spinner.find("input").trigger("change");
        });

    });

    function login(toggle1, toggle2) {
        $(toggle1).modal('toggle');
        $(toggle2).modal('toggle');
    }
</script>
</body>
</html>
