<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Bijoux &amp; Pierres Naturelles | Une histoire de pierres Boutique en ligne.</title>

    <meta name="description" content="Une Histoire de Pierres, boutique de Bijoux, Bijoux sur mesure, Minéraux, Pierres naturelles, Esoterisme, Minéraux. Livraison rapide en 48h..."/>
    <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:locale" content="fr_FR"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Bijoux &amp; Pierres Naturelles | Une histoire de pierres Boutique en ligne."/>
    <meta property="og:description" content="Une Histoire de Pierres, boutique de Bijoux, Bijoux sur mesure, Minéraux, Pierres naturelles, Esoterisme, Minéraux. Livraison rapide en 48h..."/>
    <meta property="og:url" content="https://histoire-de-pierres.fr/"/>
    <meta property="og:site_name" content="Une Histoire de Pierres"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:description" content="Une Histoire de Pierres, boutique de Bijoux, Bijoux sur mesure, Minéraux, Pierres naturelles, Esoterisme, Minéraux. Livraison rapide en 48h..."/>
    <meta name="twitter:title" content="Bijoux &amp; Pierres Naturelles | Une histoire de pierres Boutique en ligne."/>
    <script type='application/ld+json'>{
            "@context": "https://schema.org",
            "@graph": [
                {
                    "@type": "WebSite",
                    "@id": "https://histoire-de-pierres.fr/#website",
                    "url": "https://histoire-de-pierres.fr/",
                    "name": "Une Histoire de Pierres",
                    "potentialAction": {
                        "@type": "SearchAction",
                        "target": "https://histoire-de-pierres.fr/?s={search_term_string}",
                        "query-input": "required name=search_term_string"
                    }
                },
                {
                    "@type": "WebPage",
                    "@id": "https://histoire-de-pierres.fr/#webpage",
                    "url": "https://histoire-de-pierres.fr/",
                    "inLanguage": "fr-FR",
                    "name": "Bijoux &amp; Pierres Naturelles | Une histoire de pierres Boutique en ligne.",
                    "isPartOf": {
                        "@id": "https://histoire-de-pierres.fr/#website"
                    },
                    "datePublished": "2017-08-01T13:09:30+00:00",
                    "dateModified": "2019-12-18T13:09:45+00:00",
                    "description": "Une Histoire de Pierres, boutique de Bijoux, Bijoux sur mesure, Min\u00e9raux, Pierres naturelles, Esoterisme, Min\u00e9raux. Livraison rapide en 48h..."
                }
            ]
        }</script>


    <!-- Css Styles -->
    <link rel="stylesheet" href="/website/css/bootstrap.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="/website/css/slicknav.min.css" type="text/css" media="screen and (max-width: 780px)">
    <link rel="stylesheet" href="/website/css/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="/website/css/uhp_style.css" type="text/css" media="all">
    <link rel="stylesheet" href="/website/css/font.css" type="text/css" media="all">

    {% block head %}{% endblock %}
</head>
<body>
{{ include('website/inc/menu-section.twig') }}

{% block carousel %}
    <div class="hero-slider">
        <div class="slider-item">
            <div class="single-slider-item " style='background-image: url("{{ front.section.image.publicFilename }}"); background-size: 100%;background-repeat: no-repeat'>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="text-uppercase"></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}{% endblock %}

{{ include('website/inc/footer.twig') }}

<script src="/website/js/jquery-3.3.1.min.js"></script>
<script src="/website/js/bootstrap.min.js"></script>
<script src="/website/js/jquery.slicknav.js"></script>
<script src="/website/js/lazyload.js"></script>

<script type="text/javascript">
    lazyload();
    $(".mobile-menu").slicknav({prependTo: '#mobile-menu-wrap', allowParentLinks: true});


    let modal = $('#active-modal').text();
    $(modal).modal('toggle').modal('show');


    $('<div class="quantity-nav"><div class="quantity-button quantity-up">+</div><div class="quantity-button quantity-down">-</div></div>').insertAfter('.quantity input');
    $('.quantity').each(function () {
        var spinner = $(this),
            input = spinner.find('input[type="number"]'),
            btnUp = spinner.find('.quantity-up'),
            btnDown = spinner.find('.quantity-down'),
            min = input.attr('min'),
            max = input.attr('max');

        btnUp.click(function () {
            var oldValue = parseFloat(input.val());
            if (oldValue >= max) {
                var newVal = oldValue;
            } else {
                var newVal = oldValue + 1;
            }
            spinner.find("input").val(newVal);
            spinner.find("input").trigger("change");
        });

        btnDown.click(function () {
            var oldValue = parseFloat(input.val());
            if (oldValue <= min) {
                var newVal = oldValue;
            } else {
                var newVal = oldValue - 1;
            }
            spinner.find("input").val(newVal);
            spinner.find("input").trigger("change");
        });

    });

</script>
</body>
</html>
