{% extends 'manager/layout/layout.manager.html.twig' %}

{% block body %}
    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">
                            <i class="fas fa-file-invoice"></i>
                            Factures
                        </h4>
                    </div>
                    <div class="card-body">
                        <table id="datatable" class="table table-striped table-info">
                            <thead>
                            <tr>
                                <th>Facture</th>
                                <th>Commande associé</th>
                                <th>Client</th>
                                <th>Total</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for invoice in invoices %}
                                <tr>
                                    <td>
                                        #{{ invoice.id }}
                                    </td>
                                    <td>
                                        <a href="{{ path('admin.ordered.show', {'id': invoice.ordered.id}) }}" class="text-bold">
                                            #{{ invoice.ordered.id }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ path('admin.customer.show', {'id': invoice.customer.id}) }}" class="text-bold">
                                            {{ invoice.customer.strName }}
                                        </a>
                                    </td>
                                    <td>
                                        {{ str_price(invoice.netToPay) }}
                                    </td>
                                    <td>
                                        <a target="_blank" href="{{ path('admin.document.invoice.show', {'id': invoice.id}) }}" class="btn btn-primary col-12">
                                            <i class="fas fa-download"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="id-active">document</div>
{% endblock %} 
