<form action="" method="post">
    {{ form_bind(ordered) }}
    {{ csrf('POST') }}
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label>Statut de la commande</label>
                <select class="select2 col-12" name="status">
                    {% for key,status in constant("App\\Entities\\Ordered::STATUS") %}
                        <option {{ form_select('status', key, null, 'status') }} value="{{ key }}">{{ status }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label class="d-block mb-2">Adresse de livraison</label>
                <input type="text" name="address_delivery_number_street" class="form-control col-2 d-inline-block mt-3" placeholder="Numéro de rue" value="{{ ordered.getParsedAddressDelivery.number_street }}">
                <input type="text" name="address_delivery_street" class="form-control offset-1 col-7 d-inline-block mt-3" placeholder="Rue" value="{{ ordered.getParsedAddressDelivery.street }}">
                <input type="text" name="address_delivery_postal_code" class="form-control col-2 d-inline-block mt-3" placeholder="Code postal" value="{{ ordered.getParsedAddressDelivery.postal_code }}">
                <input type="text" name="address_delivery_city" class="form-control offset-1 col-7 d-inline-block mt-3" placeholder="Ville" value="{{ ordered.getParsedAddressDelivery.city }}">
                <input type="text" name="address_delivery_country" class="form-control col-5 d-inline-block mt-3" placeholder="Pays" value="{{ ordered.getParsedAddressDelivery.country }}">
            </div>
            <div class="form-group">
                <label class="d-block mb-2 mt-5">Adresse de facturation</label>
                <input type="text" name="address_billing_number_street" class="form-control col-2 d-inline-block mt-3" placeholder="Numéro de rue" value="{{ ordered.getParsedAddressBilling.number_street }}">
                <input type="text" name="address_billing_street" class="form-control offset-1 col-7 d-inline-block mt-3" placeholder="Rue" value="{{ ordered.getParsedAddressBilling.street }}">
                <input type="text" name="address_billing_postal_code" class="form-control col-2 d-inline-block mt-3" placeholder="Code postal" value="{{ ordered.getParsedAddressBilling.postal_code }}">
                <input type="text" name="address_billing_city" class="form-control offset-1 col-7 d-inline-block mt-3" placeholder="Ville" value="{{ ordered.getParsedAddressBilling.city }}">
                <input type="text" name="address_billing_country" class="form-control col-5 d-inline-block mt-3" placeholder="Pays" value="{{ ordered.getParsedAddressBilling.country }}">
            </div>
        </div>
        <div class="col-12">
            <table class="table table-striped border-0 mt-5">
                <thead>
                <tr>
                    <th>Ref</th>
                    <th>Nom</th>
                    <th>Qté</th>
                    <th>Ajouter une réduction</th>
                    <th>Supprimer une reduction</th>
                    <th>Supprimer</th>
                </tr>
                </thead>
                {% for pc in ordered.productCustomer %}
                    <tr>
                        <td>{{ pc.product.id }}</td>
                        <td>{{ pc.product.name }}</td>
                        <td>
                            <input type="number" value="{{ pc.quantity }}" name="quantity_product_{{ pc.id }}" class="form-control col-3">
                        </td>
                        <td>
                            {% set max_percent = 100 %}

                            {% for rc in pc.reductionCustomers %}
                                {% set max_percent = max_percent - rc.reduction.value %}
                            {% endfor %}

                            <input type="number" step="0.01" value=""
                                   max="{{ max_percent }}"
                                   min="0" class="form-control" placeholder="Pourcentage ( {{ max_percent }} maximum )" name="add_reduction_{{ pc.id }}">
                        </td>
                        <td>

                            {% if pc.reductionCustomers is not empty %}
                                <select class="col-12 select2" name="remove_reduction_{{ pc.id }}" multiple>
                                    {% for rc in pc.reductionCustomers %}
                                        <option value="{{ rc.id }}">{{ rc.reduction.id }}| {{ rc.reduction.value|number_format(2, ',', '') }} %</option>
                                    {% endfor %}
                                </select>
                            {% else %}
                                Aucune réduction appliqué
                            {% endif %}
                        </td>
                        <td><input type="checkbox" value="1" name="remove_product_{{ pc.id }}" class="form-control"></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Enregistrer" class="btn btn-success">
    </div>
</form>
