{% extends 'manager/layout/layout.manager.html.twig' %}

{% block body %}
    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Commandes en cours</h4>
                    </div>
                    <div class="card-body">
                        <table id="datatable" class="table table-striped table-secondary">
                            <thead>
                            <tr>
                                <th>Ref</th>
                                <th>Client</th>
                                <th>Total</th>
                                <th>Date</th>
                                <th>Statut</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for ordered in orders %}
                                {% if ordered.status != 4 and ordered.status != 5 %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('admin.ordered.show', {'id': ordered.id}) }}" class="text-bold">
                                                #{{ ordered.id }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ path('admin.customer.show', {'id': ordered.customer.id}) }}" class="text-bold">
                                                {{ ordered.customer.name }}
                                            </a>
                                        </td>
                                        <td>{{ str_price(ordered.netToPay) }}</td>
                                        <td class="text-bold">
                                            {% set text = null %}
                                            {% set class = null %}

                                            {% if date('now')|date('d/m/Y') == ordered.createdAt|date('d/m/Y') %}
                                                {% set class = 'text-success' %}
                                                {% set text = "Aujourd'hui à " %}
                                            {% elseif date('now')|date('d') - 1 == ordered.createdAt|date('d') %}
                                                {% set class = 'text-orange' %}
                                                {% set text = "Hier à " %}
                                            {% else %}
                                                {% set class = 'text-danger' %}
                                                {% set text = 'Le ' ~ ordered.createdAt|date('d/m/Y') ~ ' à ' %}
                                            {% endif %}
                                            <span class="bold {{ class }}">{{ text }} {{ ordered.createdAt|date('H:i:s') }}</span>
                                        </td>
                                        <td class="bold">{{ ordered.getStrStatus }}</td>
                                        <td>
                                            <a href="{{ path('admin.ordered.show', {'id': ordered.id}) }}" class="btn btn-primary col-12">
                                                <i class="fas fa-eye"></i>&nbsp
                                                ( {{ ordered.wasConsulted }} )
                                            </a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Toutes les commandes</h4>
                    </div>
                    <div class="card-body">
                        <table id="datatable2" class="table table-striped table-secondary">
                            <thead>
                            <tr>
                                <th>Ref</th>
                                <th>Client</th>
                                <th>Total</th>
                                <th>Date</th>
                                <th>Statut</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for ordered in orders %}
                                <tr>
                                    <td>
                                        <a href="{{ path('admin.ordered.show', {'id': ordered.id}) }}" class="text-bold">
                                            #{{ ordered.id }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ path('admin.customer.show', {'id': ordered.customer.id}) }}" class="text-bold">
                                            {{ ordered.customer.name }}
                                        </a>
                                    </td>
                                    <td>{{ str_price(ordered.netToPay) }}</td>
                                    <td class="text-bold">{{ str_date(ordered.createdAt) }}</td>
                                    <td class="bold">{{ ordered.getStrStatus }}</td>
                                    <td>
                                        <a href="{{ path('admin.ordered.show', {'id': ordered.id}) }}" class="btn btn-primary col-12">
                                            <i class="fas fa-eye"></i>&nbsp
                                            ( {{ ordered.wasConsulted }} )
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="id-active">ordered</div>
{% endblock %} 
