{% extends 'manager/layout/layout.manager.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        {% if ordered.status == 0 %}
                            <a href="{{ path('admin.ordered.edit', {'id': ordered.id}) }}" class="btn btn-secondary col-2">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                        {% endif %}
                        <a href="{{ path('admin.home') }}" class="btn btn-primary float-xl-right col-2">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">
                            Commande
                            <a href="" class="bold">#{{ ordered.id }}</a>
                            pour
                            <a href="#" class="bold">{{ ordered.customer.lastName ~ ' ' ~ ordered.customer.firstName }}</a>
                            passé le {{ ordered.createdAt|date('d/m/Y') }} à {{ ordered.createdAt|date('H:i:s') }}
                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <table class="table border-0">
                                    <tr>
                                        <th>Client</th>
                                        <td><a href="#" class="bold">{{ ordered.customer.lastName ~ ' ' ~ ordered.customer.firstName }}</a></td>
                                    </tr>
                                    <tr>
                                        <th>Numéro client</th>
                                        <td>{{ ordered.customer.id }}</td>
                                    </tr>
                                    <tr>
                                        <th>Adresse de livraison</th>
                                        <td>{{ ordered.addressDelivery|raw }}</td>
                                    </tr>
                                    <tr>
                                        <th>Adresse de facturation</th>
                                        <td>{{ ordered.addressBilling|raw }}</td>
                                    </tr>
                                    <tr>
                                        <th>Téléphone</th>
                                        <td>{{ ordered.customer.tel is not empty ? ordered.customer.tel : 'Non spécifié' }}</td>
                                    </tr>
                                    <tr>
                                        <th>Email</th>
                                        <td>{{ ordered.customer.email }}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-6">
                                <table class="table border-0">
                                    <tr>
                                        <th>Reductions Appliquées</th>
                                        <td>
                                            {% set nbrRed = ordered.reductionCustomers|length %}

                                            {% for pc in ordered.productCustomers %}
                                                {% if pc.reductionCustomer is not empty %}
                                                    {% set nbrRed = nbrRed + 1 %}
                                                {% endif %}
                                            {% endfor %}

                                            {{ nbrRed }}
                                        </td>
                                    </tr>
                                    {% if ordered.reductionCustomers is not empty %}
                                        {% for rc in ordered.reductionCustomers %}
                                            <tr>
                                                <th>Ref</th>
                                                <td><a href="{{ path('admin.reduction.show', {'id': rc.reduction.id }) }}" class="bold">#{{ rc.reduction.id }}</a> | {{ rc.reduction.value|number_format(2, ',','') }} %</td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    {% for pc in ordered.productCustomers %}
                                        {% if pc.reductionCustomer is not empty %}
                                            <tr>
                                                <th>Ref</th>
                                                <td><a href="{{ path('admin.reduction.show', {'id': pc.reductionCustomer.reduction.id }) }}" class="bold">#{{ pc.reductionCustomer.reduction.id }}</a> | {{ pc.reductionCustomer.reduction.value|number_format(2, ',','') }} %</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h5 class="alert alert-dark">
                                    {{ ordered.getStrStatus }}
                                    {% if ordered.status == 0 %}
                                        <span class="float-xl-right">
                                        Active jusqu'au {{ (ordered.createdAt|date('d') + 2) ~ '/' ~
                                            ordered.createdAt|date('m/Y') ~
                                            ' à ' ~ ordered.createdAt|date('H:i:s') }}
                                    </span>
                                    {% endif %}
                                </h5>
                                <table class="table table-striped table-info border-0">
                                    <thead>
                                    <tr>
                                        <th>Produit</th>
                                        <th>Qté</th>
                                        <th>P.U.</th>
                                        <th>Réduction</th>
                                        <th>Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for pc in ordered.productCustomer %}
                                        <tr>
                                            <td>{{ pc.product.name }}</td>
                                            <td>{{ pc.quantity|number_format(2, ',', '') }}</td>
                                            <td>{{ pc.option is not empty and pc.option.price is not empty ? (pc.product.price + pc.option.price)|number_format(2, ',', '') : pc.product.price|number_format(2, ',', '') }} €</td>
                                            <td>
                                                {% set reduction = 0 %}

                                                {% for rc in pc.reductionCustomers %}
                                                    {% set reduction = reduction + rc.reduction.value %}
                                                {% endfor %}

                                                {{ reduction|number_format(2,',','') }} %
                                            </td>
                                            <td>{{ pc.netToPay|number_format(2, ',', '') }} €</td>
                                        </tr>
                                    {% endfor %}
                                    <tr class="bold">
                                        <td colspan="4" class="text-center">Total</td>
                                        <td>{{ ordered.total|number_format(2, ',', '') }} €</td>
                                    </tr>
                                    <tr class="bold">
                                        <td colspan="4" class="text-center">Réduction</td>
                                        <td>
                                            {% set reduction = 0 %}

                                            {% if ordered.reductionCustomers is not empty %}
                                                {% for rc in ordered.reductionCustomers %}
                                                    {% set reduction = reduction + rc.reduction.value %}
                                                {% endfor %}
                                            {% endif %}

                                            {{ reduction|number_format(2, ',', '') }} %
                                        </td>
                                    </tr>
                                    <tr class="bold">
                                        <td colspan="4" class="text-center">Net à payer</td>
                                        <td>{{ ordered.netToPay|number_format(2, ',', '') }} €</td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h5 class="card-title">Commentaire du client:</h5><br>
                                <p>{{ ordered.comment is not empty ? ordered.comment : 'Aucun' }}</p>
                            </div>
                            <div class="col-6">
                                <h5 class="card-title">Données du client:</h5><br>
                                <p>{{ ordered.dataCustomer is not empty ? ordered.dataCustomer|raw : 'Aucune' }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="id-active">ordered</div>
{% endblock %} 
