<form method="post" action="">

    {{ csrf('POST') }}
    <div class="row">
        <div class="col-6">
            {{ label({'value': 'Client'}) }}
            {{ select(
                {'name': 'customer', 'class': 'select2 col-12', 'required': false},
                {'void': 'Aucun'}|merge(compose(customers, {'prop(id)': 'prop(id) | prop(first_name) prop(last_name)'}))
            ) }}

            {{ label({'value': 'Code'}) }}
            {{ input({'name': 'code', 'placeholder': 'Code de la promotion (facultatif)', 'required': false}) }}

            {{ label({'value': 'Valeur'}) }}
            {{ input({'type': 'number', 'step': '0.1', 'name': 'value', 'placeholder': 'Valeur de la réduction'}) }}

            {{ label({'value': 'Produits'}) }}
            {{ select(
                {'name': 'product', 'class': 'select2 col-12', 'required': false},
                {'void': 'Aucun'}|merge(compose(products, {"prop(id)": 'prop(id) | prop(name)'}))
            ) }}
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="rule_init">Initier une règle d'attribution</label>
                <select id="rule_init" name="rule_init" class="select2 col-12">
                    <option value=""></option>
                    <option value="PT" {{ form_select('rule_init', 'PT') }}>Si le total du produit</option>
                    <option value="PQ" {{ form_select('rule_init', 'PQ') }}>Si la quantité du produit</option>
                    <option value="FT" {{ form_select('rule_init', 'FT') }}>Si le total de la facture</option>
                </select>
            </div>

            <div id="group_rule_product" class="form-group mt-5">
                <label for="rule_product">Produit</label>
                <select id="rule_product" name="rule_product" class="select2 col-12">
                    <option value="">Aucun produit sélectionné</option>
                    {% for product in products %}
                        <option value="{{ product.id }}" {{ form_select('product', product.id) }}>{{ product.id }}
                            | {{ product.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group mt-5">
                <label for="rule_operator">Est</label>
                <select id="rule_operator" name="rule_operator" class="select2 col-12">
                    <option value="">Aucun opérateur sélectionné</option>
                    <option value=">" {{ form_select('rule_operator', '>') }}>est strictement supérieur</option>
                    <option value="<" {{ form_select('rule_operator', '<') }}>est strictement inférieur</option>
                    <option value=">=" {{ form_select('rule_operator', '>=') }}>est supérieur ou égale</option>
                    <option value="<=" {{ form_select('rule_operator', '<=') }}>est inférieur ou égale</option>
                    <option value="==" {{ form_select('rule_operator', '==') }}>est égale</option>
                    <option value="!=" {{ form_select('rule_operator', '!=') }}>n'est pas égale</option>
                </select>
            </div>

            <div class="form-group mt-5">
                <label for="rule_value">À </label>
                <input id="rule_value" value="{{ form_value('rule_value') }}" name="rule_value" type="number" step="0.1"
                       placeholder="Valeur" class="form-control">
            </div>
        </div>
    </div>

    {{ input({'type': 'submit', 'class': 'btn btn-success', 'value': 'Enregistrer'}) }}
</form>
