{% extends 'manager/layout/layout.manager.html.twig' %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <a href="{{ path('admin.reduction.index') }}" class="btn btn-primary float-xl-right col-2">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">
                            <i class="fas fa-plus-square"></i>
                            Créer une promotion
                        </h4>
                    </div>
                    <div class="card-body">
                        {{ include('manager/reduction/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="id-active">reduction</div>

{% endblock %}

{% block script %}
    <script type="text/javascript">

        $('#group_rule_product').hide();

        $('#rule_init').change(function () {
            if ($(this).val() === 'PT' || $(this).val() === 'PQ')
                $('#group_rule_product').show();
            else
                $('#group_rule_product').hide();
        });
    </script>
{% endblock %}
