{% extends 'manager/layout/layout.manager.html.twig' %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        {% if reduction.active == true %}
                            <a href="{{ path('admin.reduction.disable', {'id': reduction.id}) }}" class="btn btn-danger">Désactiver</a>
                        {% else %}
                            <a href="{{ path('admin.reduction.enable', {'id': reduction.id}) }}" class="btn btn-success">Activer</a>
                        {% endif %}
                        <a href="{{ path('admin.reduction.index') }}" class="btn btn-primary float-xl-right col-2">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Éditer une reduction</h4>
                    </div>
                    <div class="card-body">
                        {{ include('manager/reduction/_form.html.twig', {'button_label': 'Update'}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
