{% extends 'manager/layout/layout.manager.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <a href="{{ path('admin.reduction.create') }}" class="btn btn-success col-2">
                            <i class="fas fa-plus-square"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-striped table-secondary" id="datatable">
                            <thead>
                            <tr>
                                <th>Ref</th>
                                <th>Valeur</th>
                                <th>Créé le</th>
                                <th>Statut</th>
                                <th>Fiche</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for reduction in reductions %}
                                <tr>
                                    <td>
                                        <a href="{{ path('admin.reduction.show', {'id': reduction.id}) }}" class="text-bold">
                                            #{{ reduction.id }}
                                        </a>
                                    </td>
                                    <td>{{ str_percent(reduction.value) }}</td>
                                    <td>{{ str_date(reduction.createdAt) }}</td>
                                    <td>
                                        {% if reduction.active %}
                                            <span class="text-success text-bold">Activé</span>
                                        {% else %}
                                            <span class="text-danger text-bold">Désactivé</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{{ path('admin.reduction.show', {'id': reduction.id}) }}" class="btn btn-primary col-4">
                                            <i class="fas fa-eye"></i>
                                        </a>
                                        {% if reduction.active == true %}
                                            <a href="{{ path('admin.reduction.disable', {'id': reduction.id, '_token': csrf('GET')}) }}" class="btn btn-danger col-4">
                                                <i class="fas fa-stop-circle"></i>
                                            </a>
                                        {% else %}
                                            <a href="{{ path('admin.reduction.enable', {'id': reduction.id, '_token': csrf('GET')}) }}" class="btn btn-success col-4">
                                                <i class="fas fa-play-circle"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="id-active">reduction</div>
{% endblock %}
