{% extends 'manager/layout/layout.manager.html.twig' %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <a href="{{ path('admin.reduction.index') }}" class="btn btn-primary float-xl-right col-2">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-secondary table-striped table-bordered">
                            <tr>
                                <th>Ref</th>
                                <td>{{ reduction.id }}</td>
                            </tr>
                            <tr>
                                <th>Code</th>
                                <td>{{ reduction.code }}</td>
                            </tr>
                            <tr>
                                <th>Value</th>
                                <td>{{ reduction.value }}</td>
                            </tr>
                            <tr>
                                <th>Produit</th>
                                <td>
                                    {% if reduction.product != null %}
                                        {{ reduction.product.id ~ '| ' ~ reduction.product.name }}
                                    {% else %}
                                        Aucun produit
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Client</th>
                                <td>
                                    {% if reduction.customer != null %}
                                        <a href="{{ path('admin.customer.show', {'id': reduction.customer.id}) }}" class="text-bold">
                                            {{ reduction.customer.strName }}
                                        </a>
                                    {% else %}
                                        Aucun client
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Règle d'attribution</th>
                                <td>{{ reduction.ruleTranslation }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
