<form action="" method="post" enctype="multipart/form-data">
    {{ form_bind(graphicRuleReduction) }}
    {{ csrf('POST') }}

    <div class="row">
        <div class="col-6">
            {{ label({'value': 'Titre'}) }}
            {{ input({'name': 'title', 'placeholder': 'Titre de la réduction'}) }}

            {{ label({'value': 'Déscription'}) }}
            {{ textarea({'name': 'description', 'class': 'summernote', 'required': false}) }}
        </div>
        <div class="col-6">
            {{ label({'value': 'Image'}) }}
            {{ input({'type': 'file', 'name': 'image', 'placeholder': 'Ajouter une image', 'required': false}) }}

            {{ label({'value': 'Section'}) }}
            {{ select(
                {'name': 'sections', 'multiple': true, 'class': 'select2 col-12'},
                compose(sections, {'prop(id)': 'prop(id) | prop(name)'})
            ) }}
        </div>
    </div>

    {{ input({'type': 'submit', 'value': 'Enregistrer', 'class': 'btn btn-success'}) }}
</form>
