{% extends 'manager/layout/layout.manager.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <a href="{{ path('admin.reduction.web.index') }}" class=" col-2 btn btn-primary float-xl-right">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        {{ include('manager/reduction/web/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="id-active">w-reduction</div>
{% endblock %}
