{% extends 'manager/layout/layout.manager.html.twig' %}

{% block body %}

    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-secondary table-striped" id="datatable">
                            <thead>
                            <tr>
                                <th>Ref</th>
                                <th>Valeur</th>
                                <th>Créé le</th>
                                <th>Statut (sur le site)</th>
                                <th>Fiche</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for reduction in reductions %}
                                {% if reduction.active == true and reduction.customer == null %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('admin.reduction.show', {'id': reduction.id}) }}" class="text-bold">
                                                #{{ reduction.id }}
                                            </a>
                                        </td>
                                        <td>{{ str_percent(reduction.value) }}</td>
                                        <td>{{ str_date(reduction.createdAt) }}</td>
                                        <td>
                                            {% if reduction.graphicRule != null %}
                                                <span class="text-success text-bold">Actif</span>
                                            {% else %}
                                                <span class="text-danger text-bold">Inactif</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if reduction.graphicRule != null %}
                                                <a href="{{ path('admin.reduction.web.show', {'id': reduction.graphicRule.id}) }}" class="btn btn-primary">
                                                    <i class="fas fa-eye"></i>
                                                </a>
                                                <a href="{{ path('admin.reduction.web.edit', {'id': reduction.graphicRule.id}) }}" class="btn btn-secondary">
                                                    <i class="fas fa-pencil-alt"></i>
                                                </a>
                                                <a href="{{ path('admin.reduction.web.delete', {'id': reduction.graphicRule.id, '_token': csrf('GET')}) }}" class="btn btn-danger">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            {% else %}
                                                <a href="{{ path('admin.reduction.web.create', {'id': reduction.id}) }}" class="btn btn-success col-12">
                                                    <i class="fas fa-plus-square"></i>
                                                </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="id-active">w-reduction</div>
{% endblock body %}
