{% extends 'manager/layout/layout.manager.html.twig' %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <a href="{{ path('admin.reduction.web.edit', {'id': graphicRuleReduction.id}) }}" class="btn btn-secondary">Éditer</a>
                        <a href="{{ path('admin.reduction.web.index') }}" class="btn btn-primary float-xl-right">Retour</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        {% if graphicRuleReduction.image != null %}
                            <div class="col-6">
                                <img src="{{ graphicRuleReduction.image.publicFilename }}" class="product-image">
                            </div>
                        {% else %}
                            Aucune image
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-secondary table-striped table-bordered">
                            <tr>
                                <th>Ref</th>
                                <td>{{ graphicRuleReduction.reduction.id }}</td>
                            </tr>
                            <tr>
                                <th>Titre</th>
                                <td>{{ graphicRuleReduction.title }}</td>
                            </tr>
                            <tr>
                                <th>Déscription</th>
                                <td>{{ graphicRuleReduction.description|raw }}</td>
                            </tr>
                            <tr>
                                <th>Sections</th>
                                <td>
                                    {% if graphicRuleReduction.sections.isEmpty == false %}
                                    <table class="table table-striped table-grey table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Ref</th>
                                                <th>Nom</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for section in graphicRuleReduction.sections %}
                                                <tr>
                                                    <td>{{ section.id }}</td>
                                                    <td>{{ section.name }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    {% else %}
                                        <a href="{{ path('admin.reduction.web.edit', {'id': graphicRuleReduction.id}) }}" class="btn btn-secondary">Éditer</a>
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
