{% if front.graphicRuleProduct != null %}
    {% for grProduct in front.graphicRuleProduct %}
        <article class="card col-sm-12 col-md-4 col-lg-3 mt-5 mb-5 offset-1 card-product">
            <a href="{{ path('website.product', {'slug': grProduct.product.slug, 'id': grProduct.product.id}) }}"
               class="lazyload font-img"
               data-src="{{ grProduct.getSortedImage.0.publicFilename }}">

                <img src="" data-src="{{ grProduct.getSortedImage.0.publicFilename }}" class="lazyload d-none">
            </a>
            <noscript>
                <img src="{{ grProduct.sortedImage.0.publicFilename }}" alt="image">
            </noscript>
            <div class="card-body">
                <p class="card-title h5 text-center mb-5 text-uppercase">{{ grProduct.product.name }}</p>
            </div>
            <div class="card-footer text-center btn-see">
                            <span class="price">{{ grProduct.formattedPrice.0 }}<span
                                        class="decimal">{{ grProduct.formattedPrice.1 }}</span> €</span>

                {% if grProduct.formattedPrice.3 is defined and grProduct.formattedPrice.4 is defined %}
                    <span class="price">{{ grProduct.formattedPrice.3 }}<span
                                class="decimal">{{ grProduct.formattedPrice.4 }}</span> €</span>
                {% endif %}

                <a href="{{ path('website.product', {'slug': grProduct.product.slug, 'id': grProduct.product.id}) }}">
                    <button class="btn btn-purple col-11" type="submit">VOIR</button>
                </a>
            </div>
        </article>
    {% endfor %}
{% endif %}
