{% if front.graphicRuleReduction is not empty %}
    {% for graphicRuleReduction in front.graphicRuleReduction %}
        <div class="row mt-5">
            <div class="col-12">
                <div class="card border-0">
                    <div class="card-body offset-2 col-8" style="background: #d6a1b9;">
                        <div class="row">
                            <div class="col-6">
                                <div class="lazyload font-img" data-src="{{ graphicRuleReduction.image.publicFilename }}"></div>
                                <img src="" data-src="{{ graphicRuleReduction.image.publicFilename }}" class="d-none lazyload">
                            </div>


                            <div class="{{ graphicRuleReduction.image != null ? 'col-6' : 'col-12' }} reduction">
                                <h1 class="h4">{{ graphicRuleReduction.title }}</h1>

                                {{ graphicRuleReduction.description|raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
