{% extends 'website/layout/layout.home.html.twig' %}

{% block reduction %}
    {{ include('website/section/_reduction.card.html.twig') }}
{% endblock reduction %}

{% block product %}
    {{ include('website/section/_product.card.html.twig') }}
{% endblock product %}

{% block detailProduct %}{% endblock detailProduct %}

