{% extends 'website/layout/layout.website.html.twig' %}

{% block head %}
    <style type="text/css">
        .slider-item .single-slider-item {
            height: 450px;
            padding-top: 300px;
            background-size: cover !important;
        }

        .header-section {
            background: rgb(251, 247, 247);
        }

        .inner-header .main-menu ul li a {
            color: #7e8485;
        }
    </style>
{% endblock %}

{% block carousel %}
    <div class="hero-slider">
        <div class="slider-item">
            <div class="single-slider-item " style='background-image: url("{{ front.section.image.publicFilename }}");
                    background-size: 100%;background-repeat: no-repeat'>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="text-uppercase">{{ front.section.name }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block body %}

    {{ include('website/section/_reduction.card.html.twig') }}

    <div class="container-fluid">
        <div class="row col-12">
            <div class="card col-sm-12 col-md-4 col-lg-3 offset-1 mt-5 mb-5 card-basket">
                <div class="card-header">
                    <p>PANIER</p>
                </div>
                <div class="card-body scroll-card">
                    {% for key,pc in basket %}
                        <div class="basket-section">
                            <a href="{{ path('website.basket.remove', {'created': pc.createdAt}) }}" class="bold mr-2">X</a>
                            <span class="basket-product">{{ pc.product.name }}</span>
                            <span class="basket-price float-right">{{ pc.netToPay }} €</span>
                        </div>
                        <hr>
                    {% endfor %}
                </div>
                <div class="card-footer">
                    <a href="{{ path('website.ordered.create') }}" class="btn btn-purple col-12 m-0">COMMANDER</a>
                </div>
            </div>

            {{ include('website/section/_product.card.html.twig') }}
            {% block product %}{% endblock product %}
        </div>
    </div>
{% endblock %}

