{% extends 'manager/layout/layout.manager.html.twig' %}

{% block body %}
    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Systeme</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-secondary">
                            <tr>
                                <th>Application version</th>
                                <td>1.0.0</td>
                            </tr>
                            <tr>
                                <th>Framework</th>
                                <td>
                                    Nomess 2.20.2: <a href="https://gitlab.com/NewWebSouth/nomess/-/tree/2.20.2" class="bold" target="_blank">https://gitlab.com/NewWebSouth/nomess/-/tree/2.20.2</a><br>
                                    Kernel 2.20.3: <a href="https://gitlab.com/NewWebSouth/nomess-kernel/-/tree/2.20.3" class="bold" target="_blank">https://gitlab.com/NewWebSouth/nomess-kernel/-/tree/2.20.3</a>
                                </td>
                            </tr>
                            <tr>
                                <th>Serveur</th>
                                <td>{{ constant('PHP_OS') }} - {{ IP_SERVER }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="id-active">software</div>
{% endblock %} 
