{% extends "website/layout/layout.account.html.twig" %}


{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="card card-contact" style="border: 0px">
                    <div class="card-header">
                        <h3 class="card-title">ENVOYEZ NOUS UN MESSAGE</h3>
                    </div>
                    <div class="card-body">

                        {% for e in error %}
                            - {{ e }}
                        {% endfor %}

                        {% for s in success %}
                            - {{ s }}
                        {% endfor %}
                        <form action="" method="POST" id="form" class="mt-5">

                            {{ csrf('POST') }}
                            <div class="col-12">
                                <input type="text" name="name" value="" placeholder="Votre nom et prénom" required class="input">
                                <br>
                                <br>
                                <input type="email" name="email" value="" placeholder="Votre email" required class="input">
                                <textarea name="message" placeholder="Votre message" class="input"></textarea>
                            </div>
                            <input type="checkbox" value="true" name="bad" class="d-none">
                            <button type="submit" class="btn btn-purple float-xl-right" onclick="submit();">Envoyer</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="card card-contact" style="border: 0px">
                    <div class="card-header">
                        <h3 class="card-title">COORDONNÉES</h3>
                    </div>
                    <div class="card-body">
                        <p class="bold">TÉLÉPHONE:</p>
                        <p class="text-pink">06 32 36 21 85</p>
                        <br>
                        <p class="bold">MAIL:</p>
                        <p class="text-pink">unehistoiredepierres@gmail.com</p>
                        <br>
                        <p class="bold">HORAIRES:</p>
                        <p class="text-pink">Lundi – Vendredi 10h – 19h</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block script %}
    <script type="text/javascript">
        function submit() {
            $('#form').submit();
        }
    </script>
{% endblock %}
