{% extends "website/layout/layout.account.html.twig" %}

{% block title %}
    QUI SOMMES NOUS ?
{% endblock title %}
{% block body %}
    <div class="container mt-5 identity">
        <div class="row">
            <div class="col-sm-12 col-md-6 identity-text">
                <h1 class="h6">UNE HISTOIRE DE PIERRES</h1>
                <p>C’est une histoire de pierres qui a commencé en 2017...<br>
                    Une passion enfouie révélée au grand jour grâce à une amie qui ce jour là me montre ses jolis trésors...<br>
                    Puis quelques mois plus tard, un nouveau départ, une reconversion professionnelle, et pourquoi pas les
                    pierres...?<br>
                    Me vode trouver de belles pierres que Dame Nature sait si bien nous offrir mais également de jolis bijoux
                    à vous proposer. Petit problème, je dois être pénible mais je ne trouve pas de bijoux à mon goût ...
                    alors pourquoi pas les créer moi-même?<br>
                    Et l’aventure commence!<br>
                    Je quitte la pharmacie pour une autre forme de soin…<br>
                    Une histoire de pierres est née et je l’espère vous apportera des coups de cœur mais aussi un petit
                    coup de pouce dans votre vie au quotidien grâce aux propriétés variées et multiples de nos amies les
                    pierres ...</p>
                <br>
                <br>
                <a href="{{ path('website.home') }}" class="btn btn-lg btn-purple float-left">NOTRE BOUTIQUE</a>
            </div>
            <div class="col-sm-12 col-md-6 img-right"></div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 img-bottom">
            </div>
            <div class="col-sm-12 col-md-6 cit-text">
                Les bienfaits des pierres...
            </div>
        </div>
    </div>

    <!--<div class="container-fluid mt-5 personnal">
        <div class="row personnal-jewelery">
            <div class="offset-1 col-3 mt-5">
                <h1 class="mb-5">BIJOUX PERSONNALISÉS</h1>

                <p class="mb-3">Nous vous proposons des bijoux sur mesure, en étudiant votre profil et vos besoins.</p>

                <a href="#" class="btn btn-lg btn-light float-left">EN SAVOIR PLUS</a>
            </div>
        </div>
    </div>-->
{% endblock body %}
