{% extends "website/layout/layout.account.html.twig" %}


{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <p><strong>Conditions Générales de Vente</strong></p>


                <p>Ces conditions générales de vente ont été pensées pour vous accompagner dans votre processus d’achat. Vous êtes sur le point d’acheter un service ou un produit du site <a href="http://www.unehistoiredepierre.fr">www.unehistoiredepierre.fr</a>.</p>


                <p>Félicitations&nbsp;!</p>


                <p><strong>Préambule :</strong></p>


                <p>Toute prise de commande au titre d&rsquo;un produit ou service figurant au sein de ce site et de ses sites thématiques suppose la consultation préalable des présentes conditions générales.</p>


                <p>Les présentes conditions générales de vente expriment l&rsquo;intégralité des obligations des parties. En ce sens, le Client est réputé accepter sans réserve l&rsquo;intégralité des dispositions prévues dans ces conditions générales. Aucune condition générale ou spécifique figurant dans les documents envoyés ou remis au Client ne pourra s&rsquo;intégrer aux présentes, dès lors que ces documents seraient incompatibles avec ces conditions générales de vente.</p>


                <p>La société éditrice se réserve le droit de modifier à tout moment les présentes conditions générales de vente. La dernière version publiée sur le site fait foi. Il est donc recommandé au Client de prendre connaissance des présentes conditions générales de vente lors de chaque commande.</p>


                <p>Le Client reconnaît être en pleine possession de ses capacités juridiques, physiques, mentales et intellectuelles pour comprendre et appliquer les présentes conditions générales de vente.</p>


                <p>Le présent contrat est formé par les documents contractuels suivants, présentés par ordre hiérarchique décroissant : les présentes conditions générales de vente ; le bon de commande (action de valider le paiement); la facture; les informations de présentation du produit. En cas de contradiction entre les dispositions contenues dans les documents de rang différent, les dispositions du document de rang supérieur prévaudront.</p>


                <br>
                <p class="h6">Article 1&nbsp;: Champ d’application</p>


                <p>Les présentes conditions générales de vente s&rsquo;appliquent à toutes les transactions conclues sur le site <a href="http://www.unehistoiredepierres.fr">www.unehistoiredepierres.fr</a>.</p>


                <p>Est considérée comme « client » toute personne physique ou morale réalisant auprès de Une Histoire de Pierres une commande validée via notre plateforme de paiement sécurisée, ou par chèque ou en numéraire.</p>


                <p>L&rsquo;unique version de ce document impliquant un accord contractuel est celle disponible, à jour, sur le site <a href="http://www.unehistoiredepierres.fr">www.unehistoiredepierres.fr</a>.</p>


                <p>La société Une Histoire de Pierres s&rsquo;assure également que l’acceptation des présentes conditions générales soit claire et sans réserve en mettant en place une case à cocher et un clic de validation.</p>


                <br>
                <p class="h6">Article&nbsp;2&nbsp;: Droits d’utilisation</p>


                <p>Ce site ainsi que tout droit qui lui est rattaché restent la propriété exclusive de la société éditrice.</p>


                <p>Toutes les marques, logos, éléments graphiques ou autres reproduits sur ce site ainsi que sur les pages auxquels celui-ci permet l&rsquo;accès par l&rsquo;intermédiaire de liens hypertextes, sont la propriété exclusive de leurs titulaires.</p>


                <p>Toute reproduction, totale ou partielle, non autorisée de ces marques, logos et signes constitue une contrefaçon passible de sanctions pénales.</p>


                <p>Tous les logiciels utilisés sur le site et ceux auxquels ils permettent l&rsquo;accès, ainsi que les textes, commentaires, illustrations, musiques, vidéos ou images reproduits sur les sites et sur ceux auxquels ils permettent l&rsquo;accès font l&rsquo;objet d&rsquo;un droit d&rsquo;auteur et leur reproduction non autorisée par leur auteur constitue une contrefaçon passible de sanctions pénales. Vous ne pouvez pas le diffuser, le copier ou le reproduire par quelque procédé que ce soit. Vous pouvez cependant en réaliser des impressions et copies pour votre usage personnel.</p>


                <p>Vous disposez d&rsquo;un droit de reproduction exclusivement pour l&rsquo;établissement d&rsquo;une copie de sauvegarde.</p>


                <br>
                <p class="h6">Article 3&nbsp;: Commande</p>


                <p>Le clic nécessaire à la confirmation de commande lors d’un achat de produit ou service sur ce site constitue une signature électronique qui a, entre les parties, la même valeur qu&rsquo;une signature manuscrite.</p>


                <p>Toute commande passée sur le site <a href="http://www.unehistoiredepierres.fr">www.unehistoiredepierres.fr</a> implique l’acceptation intégrale et sans réserve des présentes conditions générales de vente.</p>


                <p>Le Client déclare avoir pris connaissance de l&rsquo;ensemble des présentes Conditions Générales de Vente, et le cas échéant des Conditions Particulières de Vente liées à un produit ou à un service, et les accepter sans restriction ni réserve.</p>


                <p>Le Client reconnaît qu&rsquo;il a bénéficié des conseils et informations nécessaires afin de s&rsquo;assurer de l&rsquo;adéquation de l&rsquo;offre à ses besoins.</p>


                <p>Le Client déclare être en mesure de contracter légalement en vertu des lois de son pays ou valablement représenter la personne physique ou morale pour laquelle il s&rsquo;engage. Il se porte fort du respect de ces CGV pour l&rsquo;ensemble de son organisation.&nbsp;</p>


                <p>Les données enregistrées par le site internet <a href="http://www.unehistoiredepierres.fr">www.unehistoiredepierres.fr</a> constituent la preuve de l’ensemble des transactions, sauf preuve du contraire.&nbsp;</p>


                <br>
                <p class="h6">Article 3&nbsp;: Prix</p>


                <p>Les prix sont indiqués en euros hors TVA et majoré de la TVA au taux en vigueur, hors frais de port et de traitement de votre commande.</p>


                <p>Le prix des articles peut être modifié à tout moment. Toutefois, le tarif appliqué à une commande sera celui annoncé au moment de la commande.</p>


                <br>
                <p class="h6">Article 4&nbsp;: Paiement</p>


                <p>Le paiement est exigible immédiatement à la date de la commande, y compris pour les produits en précommande. Vous pouvez effectuer le règlement par carte de paiement ou chèque bancaire.</p>


                <p>Les cartes émises par des banques domiciliées hors de France doivent obligatoirement être des cartes bancaires internationales. Le Vendeur n&rsquo;accepte pas l&rsquo;American Express.</p>


                <p>Les informations transmises sont cryptées par un logiciel à l&rsquo;état de l&rsquo;art, et ne peuvent être lues au cours du transport sur le réseau. Toute garantie quant à la sécurité de ce système est entièrement de la responsabilité de la banque et ne saurait nous être imputée. Une fois le paiement lancé par le Client, la transaction est immédiatement débitée après vérification des informations.&nbsp;</p>


                <p>L&rsquo;engagement de payer donné par carte est irrévocable. En communiquant ses informations bancaires lors de la vente, le Client autorise le Vendeur à débiter sa carte du montant relatif au prix indiqué.</p>


                <p>Le Client confirme qu&rsquo;il est bien le titulaire légal de la carte à débiter et qu&rsquo;il est légalement en droit d&rsquo;en faire usage.</p>


                <p>En cas d&rsquo;erreur, ou d&rsquo;impossibilité de débiter la carte, la Vente est immédiatement résolue de plein droit et la commande annulée.&nbsp;</p>


                <p>Le paiement par chèque bancaire n&rsquo;est possible que pour des chèques en euros tirés sur une banque domiciliée en France.</p>


                <p>Le chèque sera encaissé avant l&rsquo;expédition de la commande, sauf accord exceptionnel confirmé par le vendeur.</p>


                <p>En cas de paiement par chèque, le chèque devra être établi à l&rsquo;ordre de Une Histoire de Pierres et envoyé à l&rsquo;adresse indiquée à la rubrique information sur la société des présentes CGV.</p>


                <p>Le chèque sera encaissé avant l&rsquo;expédition de la commande, sauf accord exceptionnel écrit confirmé par un employé autorisé de la Société.</p>


                <br>
                <p class="h6">Article 5&nbsp;: Livraison&nbsp;</p>


                <p>La livraison est faite à l&rsquo;adresse que vous avez indiquée lors de votre commande (par conséquent, soyez particulièrement attentif à l&rsquo;orthographe de l&rsquo;adresse que vous saisissez).</p>


                <p>Concernant les produits en ligne, la livraison se fera sur le courriel communiqué lors de l’achat.</p>


                <br>
                <p class="h6">Article 6&nbsp;: Précommande</p>


                <p>Pour les produits en « Précommande », c&rsquo;est à dire ceux que vous pouvez acheter avant leur parution officielle, le paiement est exigible immédiatement au moment de la commande.</p>


                <p>Les dates prévisionnelles de parution des produits ne sont pas contractuelles.</p>


                <p>Nous faisons de notre mieux pour respecter les dates prévisionnelles que nous indiquons, cependant les dates effectives dépendent bien souvent de facteurs indépendants de notre volonté.</p>


                <br>
                <p class="h6">Article 7&nbsp;: Délai de rétractation</p>


                <p>Conformément à la législation en vigueur, vous disposez d&rsquo;un délai de 14 jours à compter de la date de commande pour exercer votre « droit de rétractation ».</p>


                <p>Le droit de rétractation peut être exercé simplement en contactant la Société au moyen des coordonnées indiquées au présent contrat.</p>


                <br>
                <p class="h6">Article 7.1 Modalités de remboursement</p>


                <p>Le remboursement auprès de la banque du client sera effectué dans un délai maximum de trente (30) jours.</p>


                <p>Un email lui notifiera la validation de ce remboursement et le montant de la transaction bancaire.</p>


                <p>Tout remboursement s&rsquo;effectuera en fonction des moyens de paiements utilisés par le client lors de son achat.</p>


                <p>Nos remboursements ne couvrent pas les différences de change, nous remboursons uniquement le tarif en euros indiqué sur nos bons de commande, hors frais de change.</p>


                <p class="h6">Article 7.2 Achats effectués lors d&rsquo;ateliers ou de séminaires</p>


                <p>Sauf mention contraire sur le formulaire de commande rempli par le participant, tous nos produits et services vendus lors d&rsquo;un atelier ou séminaire sont couverts par un droit de rétractation de 14 jours francs à partir de la date de commande.</p>


                <p>Ces demandes de rétraction donnent lieu à un remboursement intégral (sous condition de restituer le matériel déjà remis dans un délai de 14 jours). Ces demandes ne seront considérées comme officielles qu&rsquo;à la date où la demande écrite, par lettre recommandée avec accusé de réception, a été reçue par le Vendeur. Les échanges oraux, électroniques, ou messages sur répondeur téléphonique ne seront pas considérés comme une demande acceptable.</p>


                <br>
                <p class="h6">Article 9&nbsp;: Protection des données personnelles</p>


                <p>Conformément à la Loi Informatique et Libertés du 6 janvier 1978, vous disposez d&rsquo;un droit d&rsquo;accès et de rectification aux données personnelles vous concernant.</p>


                <p>Nous déclarons l&rsquo;ensemble de nos fichiers à la Commission Nationale de l&rsquo;Informatique et des Libertés.</p>


                <p>En adhérant à ces conditions générales de vente, vous reconnaissez avoir pris connaissance de notre politique de protection des données personnelles et consentez à ce que nous collections et utilisions ces données.</p>


                <p>En vous saisissant votre adresse email sur l&rsquo;un des sites de notre réseau, vous recevrez par email via les newsletters du site. Vous pouvez vous désinscrire à tout instant. Il vous suffit pour cela de cliquer sur le lien présent à la fin de nos emails. Ce lien est précédé de la mention « Cliquez ICI pour modifier vos coordonnées ou ICI pour vous désabonner de cette liste. »&nbsp;</p>


                <p>Certains de nos contenus (vidéos, conseils, liens d&rsquo;articles, promotions commerciales) sont diffusés via des sites tiers, tels que notre page Facebook. En nous indiquant votre adresse email pour recevoir nos infolettres et contenus, vous nous donnez également la permission d&rsquo;utiliser cette adresse email pour les fonctionnalités de ciblage d&rsquo;audience personnalisé sur Facebook, et de retargeting. Ceci nous permet de vous proposer un contenu personnalisé. Nous effectuons sur notre site un suivi de la fréquentation. Pour cela, nous avons recours à des outils tels que Google Analytics et Google Optimize. Ces données, non nominatives, nous permettent d&rsquo;améliorer l&rsquo;expérience d&rsquo;utilisation de nos sites Internet, et de personnaliser le site en fonction des demandes fréquentes des utilisateurs. Les pages de confirmation et conversion de nos formulaires sont en général équipées du dispositif Google Optimize afin de mesurer leur efficacité
                    et le niveau d&rsquo;intérêt de nos prospects et clients.&nbsp;</p>


                <br>
                <p class="h6">Article 10&nbsp;: Droit applicable</p>


                <p>Toutes les clauses figurant dans les présentes conditions générales de vente, ainsi que toutes les opérations d&rsquo;achat et de vente qui y sont visées, seront soumises au droit français.</p>


                <br>
                <p class="h6">Article 11&nbsp;: Informations sur la société Une Histoire de Pierres</p>


                <p>Dénomination&nbsp;: Une Histoire de Pierres&nbsp;</p>


                <p>Adresse&nbsp;: &nbsp; 2 rue Courbet 25510 PIERREFONTAINE LES VARANS&nbsp; &nbsp;</p>


                <p>Contact&nbsp;: &nbsp; unehistoiredepierres@gmail.com</p>


                <p>Téléphone&nbsp;: 0632362185</p>


                <p>SIREN 844156620</p>


                <p>SIRET 84415662000016</p>


                <p>Activité (Code NAF ou APE)&nbsp;: 3213Z</p>


                <p>Forme juridique&nbsp;: micro-entreprise</p>


                <p>Date création entreprise 21/11/2018</p>


                <p><a href="http://www.unehistoiredepierres.fr">www.unehistoiredepierres.fr</a></p>
            </div>
        </div>
    </div>
{% endblock body %}
