{% extends 'website/layout/layout.account.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <br><br>
                - {{ message }}
                {% for e in error %}
                    - {{ e }}
                {% endfor %}

                <div class="d-flex justify-content-center col-12">
                    <button id="btn-login" type="button" class="btn btn-purple btn-lg mt-5" onclick="toggle_choice('login')">J'ai déjà un compte</button>
                    <button id="btn-subscribe" type="button" class="btn btn-purple btn-lg mt-5" onclick="toggle_choice('subscribe')">Je n'ai pas de compte</button>
                </div>
                <div id="login" style="display: none">
                    {{ include('website/account/_form.login.html.twig') }}
                </div>
                <div id="subscribe" style="display: none">
                    {{ include('website/account/_form.subscribe.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        function toggle_choice(item) {
            if (item == 'subscribe') {
                $('#login').css('display', 'none');
                $('#subscribe').css('display', 'inline');
            } else {
                $('#login').css('display', 'inline');
                $('#subscribe').css('display', 'none');
            }
        }
    </script>
{% endblock %}
