{% extends 'website/layout/layout.account.html.twig' %}

{% block head %}
    <style type="text/css">


    </style>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% for e in error %}
                    - {{ e }}
                {% endfor %}
                <table class="table table-striped table-purple mt-5">
                    <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Quantité</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set total = 0 %}
                    {% for product_customer in basket %}
                        <tr>
                            <td>{{ product_customer.product.name }}</td>
                            <td>{{ product_customer.quantity|number_format(2, ',', '') }}</td>
                            <td>{{ product_customer.netToPay|number_format(2, ',', '') }} €</td>
                        </tr>
                        {% set total = total + product_customer.netToPay %}
                    {% endfor %}
                    <tr class="background-purple text-light">
                        <td colspan="2" class="border-0 font-italic">TOTAL</td>
                        <td>{{ total|number_format(2, ',', '') }} €</td>
                    </tr>
                    </tbody>
                </table>

                <form action="" method="post" class="mt-5">
                    {{ csrf('POST') }}
                    {{ form_bind(customer) }}
                    <div class="row d-flex flex-row-reverse">
                        <button type="button" class="btn btn-purple btn-md mt-5" onclick="addCode()">Ajouter un code</button>
                    </div>
                    <div class="row mt-5">
                        <div id="code" class="col-12">
                            {% if form_value('code') is iterable %}
                                {% for code in form_value('code') %}
                                    <input type="text" value="{{ code }}" class="input" name="code[]" placeholder="Code réduction">
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6" id="billing">
                            <h5 class="card-title mb-4 d-inline">Adresse de facturation</h5>
                            <button type="button" class="btn btn-purple float-xl-right mb-4" onclick="writeField('billing')">Modifier</button>
                            <input type="text" class="input" placeholder="Numéro de rue" name="address_billing_number_street" value="{{ form_value('address_billing_number_street', 'number_street') }}" readonly>
                            <input type="text" class="input" placeholder="Rue" name="address_billing_street" value="{{ form_value('address_billing_street', 'street') }}" readonly>
                            <input type="text" class="input" placeholder="Code postal" name="address_billing_postal_code" value="{{ form_value('address_billing_postal_code', 'postal_code') }}" readonly>
                            <input type="text" class="input" placeholder="Ville" name="address_billing_city" value="{{ form_value('address_billing_city', 'city') }}" readonly>
                            <input type="text" class="input" placeholder="Pays" name="address_billing_country" value="{{ form_value('address_billing_country', 'country') }}" readonly>
                        </div>
                        <div class="col-lg-6" id="delivery">
                            <h5 class="card-title mb-4 d-inline">Adresse de livraison</h5>
                            <button type="button" class="btn btn-purple float-xl-right mb-4" onclick="writeField('delivery')">Modifier</button>
                            <input type="text" class="input" placeholder="Numéro de rue" name="address_delivery_number_street" value="{{ form_value('address_delivery_number_street', 'number_street') }}" readonly>
                            <input type="text" class="input" placeholder="Rue" name="address_delivery_street" value="{{ form_value('address_delivery_street', 'street') }}" readonly>
                            <input type="text" class="input" placeholder="Code postal" name="address_delivery_postal_code" value="{{ form_value('address_delivery_postal_code', 'postal_code') }}" readonly>
                            <input type="text" class="input" placeholder="Ville" name="address_delivery_city" value="{{ form_value('address_delivery_city', 'city') }}" readonly>
                            <input type="text" class="input" placeholder="Pays" name="address_delivery_country" value="{{ form_value('address_delivery_country', 'country') }}" readonly>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-12">
                            <h5 class="card-title">Ajouter un commentaire</h5>
                            <textarea class="textarea mt-2 col-8" name="comment" placeholder="Votre commentaire..."></textarea>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-purple float-xl-right" value="VALIDER">
                </form>
            </div>
        </div>
    </div>
{% endblock %} 

{% block script %}
    <script type="text/javascript">
        function addCode() {
            let elem = '<input type="text" value="" name="code[]" class="input" placeholder="Code réduction">';
            document.getElementById('code').insertAdjacentHTML('beforeEnd', elem);
        }

        function writeField(item) {
            $("#" + item + " input").removeAttr('readonly')
        }
    </script>
{% endblock %}
