{% extends 'website/layout/layout.account.html.twig' %}

{% block head %}

    <script type="text/css">
        #datatable ul li a {
            visibility: hidden;
        }
    </script>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a href="{{ path('account.index') }}" class="btn btn-purple mt-5 mb-5">
                    RETOUR
                </a>

                <table id="datatable" class="table table-striped table-purple mt-5">
                    <thead>
                    <tr>
                        <td>Ref</td>
                        <td>Date</td>
                        <td>Statut</td>
                        <td>Action</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ordered in orders %}

                        <tr>
                            <td>#{{ ordered.id }}</td>
                            <td>Le {{ ordered.createdAt|date('d/m/Y') }} à {{ ordered.createdAt|date('H\\hi') }}</td>
                            <td>{{ ordered.getStrStatus }}</td>
                            <td><a href="{{ path('website.ordered.show', {'id': ordered.id}) }}">Voir</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $('.pagination').hide();
        $('#datatable_filter input').addClass('input');
    </script>
{% endblock %}

