{% extends 'website/layout/layout.account.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <table class="table border-0">
                    <tr>
                        <td class="text-left border-0">
                            <a href="{{ path('website.ordered.index') }}" class="btn btn-purple">RETOUR</a>
                        </td>
                        <td class="text-right border-0">
                            {% if invoice is not empty %}
                                <a target="_blank" href="{{ path('customer.document.invoice.show', {'id': invoice.id}) }}" class="btn btn-purple">
                                    FACTURE
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                </table>


                {% for e in error %}
                    - {{ e }}<br>
                {% endfor %}
                <br>

                <h5 class="card-title">Résumé de votre commande</h5>

                <table class="table table-striped table-purple">
                    <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Qté</th>
                        <th>P.U.</th>
                        <th>Réduction</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for pc in ordered.productCustomer %}
                        <tr>
                            <td>{{ pc.product.name }}</td>
                            <td>{{ pc.quantity|number_format(2, ',', '') }}</td>
                            <td>{{ pc.option is not empty and pc.option.price is not empty ? (pc.product.price + pc.option.price)|number_format(2, ',', '') : pc.product.price|number_format(2, ',', '') }} €</td>
                            <td>{{ pc.reductionCustomer is not empty ? pc.reductionCustomer.reduction.value|number_format(2, ',', '') : '0.00' }} %</td>
                            <td>{{ pc.netToPay|number_format(2, ',', '') }} €</td>
                        </tr>
                    {% endfor %}
                    <tr class="background-purple text-light">
                        <td colspan="4" class="text-center">Total</td>
                        <td>{{ ordered.total|number_format(2, ',', '') }} €</td>
                    </tr>
                    <tr class="background-purple text-light">
                        <td colspan="4" class="text-center">Réduction</td>
                        <td>
                            {% set reduction = 0 %}

                            {% if ordered.reductionCustomer is not empty %}
                                {% for rc in ordered.reductionCustomer %}
                                    {% set reduction = reduction + rc.reduction.value %}
                                {% endfor %}
                            {% endif %}

                            {{ reduction|number_format(2, ',', '') }} %
                        </td>
                    </tr>
                    <tr class="background-purple text-light">
                        <td colspan="4" class="text-center">Net à payer</td>
                        <td>{{ ordered.netToPay|number_format(2, ',', '') }} €</td>
                    </tr>
                    <tr class="text-center background-purple">
                        <td colspan="5">
                            {{ ordered.strStatus }}

                            {% if ordered.status == 0 %}
                                <div style="font-size: 14px"> (Les commandes en attente de paiement sont valides pendant 2 jours)</div>
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <table class="table border-0">
                    <tr>
                        <th>Commentaire</th>
                        <td>{{ ordered.comment is not empty ? ordered.comment : 'Non spécifié' }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-6">
                <table class="table border-0 ">
                    <tr>
                        <th>Adresse de livraison</th>
                        <td>{{ ordered.addressDelivery|raw }}</td>
                    </tr>
                    <tr>
                        <th>Adresse de facturation</th>
                        <td>{{ ordered.addressBilling|raw }}</td>
                    </tr>
                </table>
            </div>
        </div>

        {% if ordered.status == 0 %}
            <a href="{{ path('website.payment.index', {'id': ordered.id, '_token': csrf('GET')}) }}" class="bt btn-purple btn-lg mt-5 mb-5 float-xl-right">Valider ma commande</a>
        {% endif %}
    </div>
{% endblock %} 
