<form action="{{ path('admin.image.create') }}" method="post" enctype="multipart/form-data">
    {{ csrf('POST') }}

    {{ input({'type': 'file', 'name': 'image', 'placeholder': 'Image...'}) }}

    {{ input({'type': 'submit', 'class': 'btn btn-success', 'value': 'Enregistrer'}) }}
</form>
