{% extends "manager/layout/layout.manager.html.twig" %}



{% block body %}
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        {% if images is not empty %}
                            <div class="row">
                                <div class="col-10">
                                    <div class="card" style="box-shadow: none;">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label>Rechercher une image</label>
                                                <select id="search" class="select2 col-12">
                                                    <option value="">Image</option>
                                                    {% for image in images %}
                                                        <option value="{{ image.publicFilename }}"
                                                                id="{{ image.id }}">{{ image.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <br>
                                            <br>
                                            <div class="col-12" id="show-image">
                                                <img id="{{ images.0.publicFilename }}"
                                                     src="{{ images.0.publicFilename }}" class="product-image col-6">
                                            </div>
                                            <div class="col-12 product-image-thumbs" style="overflow-y: auto;">

                                                {% for image in images %}
                                                    <div class="product-image-thumb col-4">
                                                        <img id="{{ image.id }}"
                                                             src="{{ image.publicFilename }}"
                                                             onclick="changeValue('{{ image.publicFilename }}');">
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="card" style="box-shadow: none;">
                                        <div class="card-body">
                                            <form action="{{ path('admin.image.delete') }}" method="POST"
                                                  id="delete-form">
                                                {{ csrf('POST') }}
                                                <input type="hidden" value="" name="image" id="input-image">
                                                <button id="btn-delete" type="submit" class="btn btn-danger">Supprimer
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            Aucune image trouvé
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">
                            <i class="fas fa-plus-square"></i>
                            Ajouter des images
                        </h4>
                    </div>
                    <div class="card-body">
                        {{ include('manager/image/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>

    </section>


    <div id="id-active">image</div>
{% endblock body %}

{% block script %}

    <script type="text/javascript">

        $('.select2').change(function () {
            $('.product-image').attr('src', $(this).val());

            $('#input-image').attr('value', $(this).val());
        });

        function changeValue(src) {
            $('#input-image').attr('value', src);
            $('.select2 option').val(src).attr('selected', true);
        }

    </script>
{% endblock script %}
