{% extends 'manager/layout/layout.manager.html.twig' %}

{% block body %}
    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header card-danger">
                        <h4 class="card-title">
                            <i class="fas fa-euro-sign"></i>
                            Chiffre d'affaire
                        </h4>
                        <div class="card-tools">
                            <button type="button" class="btn btn-danger btn-sm" data-card-widget="collapse" data-toggle="tooltip" title="Réduire">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <canvas class="col-12" id="ca-chart"></canvas>
                    </div>
                </div>

            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-header card-success">
                        <h4 class="card-title">
                            <i class="fas fa-shopping-cart"></i>
                            Commandes
                        </h4>
                        <div class="card-tools">
                            <button type="button" class="btn btn-success btn-sm" data-card-widget="collapse" data-toggle="tooltip" title="Réduire">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-success btn-sm" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <canvas class="col-12" id="orders-chart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header card-info">
                        <h4 class="card-title">
                            <i class="fas fa-shopping-cart"></i>
                            Top client
                        </h4>
                        <div class="card-tools">
                            <button type="button" class="btn btn-info btn-sm" data-card-widget="collapse" data-toggle="tooltip" title="Réduire">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-info btn-sm" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table border-0 text-center">
                            <thead>
                            <tr>
                                <th>Client</th>
                                <th>Panier global</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for key,value in top_customer|slice(0,15) %}
                                <tr>
                                    <td>{{ key }}</td>
                                    <td>{{ str_price(value) }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="card">
                    <div class="card-header card-info">
                        <h4 class="card-title">
                            <i class="fas fa-shopping-cart"></i>
                            Top produits
                        </h4>
                        <div class="card-tools">
                            <button type="button" class="btn btn-info btn-sm" data-card-widget="collapse" data-toggle="tooltip" title="Réduire">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-info btn-sm" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table border-0 text-center">
                            <thead>
                            <tr>
                                <th>Ref</th>
                                <th>Nom du produit</th>
                                <th>Nombre de vente</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for key,value in top_product|slice(0,15) %}
                                <tr>
                                    <td>
                                        <a href="{{ path('admin.product.show', {'id': value.product.id}) }}" class="text-bold">
                                            #{{ value.product.id }}
                                        </a>
                                    </td>
                                    <td>{{ value.product.name }}</td>
                                    <td>{{ value.total }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="id-active">general</div>
{% endblock %}

{% block script %}
    <script src="/manager/plugins/chart.js/Chart.min.js"></script>
    <script type="text/javascript">

        let chart_for_turnover = new Chart(document.getElementById('ca-chart'), {
                type: 'line',
                data: {
                    labels: [
                        {% for key,total in turnover|reverse %}
                        '{{ key }}',
                        {% endfor %}
                    ],
                    datasets: [
                        {
                            label: 'CA par mois',
                            data: [
                                {% for total in turnover|reverse %}
                                '{{ total }}',
                                {% endfor %}
                            ],
                            borderWidth: 3,
                            backgroundColor: 'rgba(255,255,255,0)',
                            borderColor: '#e16565'
                        },
                    ]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                fontSize: 20,
                            },
                        }],
                        xAxes: [{
                            ticks: {
                                fontSize: 20,
                            },
                        }]
                    },
                    tooltips: {
                        enabled: true,
                        mode: 'single',
                        callbacks: {
                            label: function (tooltipItems, data) {
                                return tooltipItems.yLabel + ' €';
                            }
                        },
                        titleFontSize: 20,
                        bodyFontSize: 20
                    },
                    legend: {
                        labels: {
                            // This more specific font property overrides the global property
                            fontSize: 20,
                        }
                    }
                }
            })
        ;


        let chart_for_orders = new Chart(document.getElementById('orders-chart'), {
                type: 'line',
                data: {
                    labels: [
                        {% for key,total in orders|reverse %}
                        '{{ key }}',
                        {% endfor %}
                    ],
                    datasets: [
                        {
                            label: 'Commande par mois:',
                            data: [
                                {% for total in orders|reverse %}
                                '{{ total }}',
                                {% endfor %}
                            ],
                            borderWidth: 3,
                            backgroundColor: 'rgba(255,255,255,0)',
                            borderColor: '#639d56'
                        },
                    ]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                fontSize: 20,
                            },
                        }],
                        xAxes: [{
                            ticks: {
                                fontSize: 20,
                            },
                        }]
                    },
                    tooltips: {
                        titleFontSize: 20,
                        bodyFontSize: 20
                    },
                    legend: {
                        labels: {
                            // This more specific font property overrides the global property
                            fontSize: 20,
                        }
                    }
                }
            })
        ;
    </script>

{% endblock %}
