{% for parent in front.menu.parent %}

    {% set has_child = false %}

    {% for child in front.menu.child %}
        {% if child.parent.id == parent.id %}
            {% set has_child = true %}
        {% endif %}
    {% endfor %}

    {% if has_child %}
<li>
    <a href="#">{{ parent.name }}</a>
    <ul class="drop-menu">
        {% for child in front.menu.child %}
            {% if child.parent.id == parent.id %}
                <li><a href="{{ path('website.section', {'id': child.id, 'slug': parent.slug}) }}">{{ child.name }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</li>
{% else %}
<li><a href="{{ path('website.section', {'id': parent.id, 'slug': parent.slug}) }}">{{ parent.name }}</a>
    {% endif %}
    {% endfor %}
