<footer class="container-fluid footer">
    <div class="row">
        <div class="col-sm-12 col-md-6 left-footer">
            SUIVEZ NOUS SUR LES RESEAUX
            <ul class="nav">
                <li><a target="_blank" href="https://www.facebook.com/histoiredepierres/" class="btn btn-circle btn-lg btn-pink d-block m-center"><i class="fa fa-lg fa-facebook-f"></i></a></li>
                <li><a target="_blank" href="https://www.instagram.com/une_histoire_de_pierres/" class="btn btn-circle btn-lg btn-pink d-block m-center"><i class="fa fa-lg fa-instagram"></i></a></li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-6 right-footer">
            <ul class="list-group list-group-flush col-10">
                <li class="list-group-item"><a href="{{ path('website.page.identity') }}">Qui sommes nous ?</a></li>
                <li class="list-group-item"><a href="{{ path('website.page.tos') }}">Conditions générales de ventes</a></li>
                <li class="list-group-item"><a href="{{ path('website.page.contact') }}">Nous contacter</a></li>
            </ul>
        </div>
    </div>
    <div class="row footer-stamp mt-3">
        <div class="col-12">
            <p>© 2020 Tous droit réservés Histoire de Pierres.</p>
        </div>
    </div>
</footer>
