{% if front.stock > 0 and front.graphicRuleProduct.stockAvailable == true %}
    <form action="{{ path('website.basket.add') }}" method="POST">

        <input type="hidden" name="product_id" value="{{ front.graphicRuleProduct.product.id }}">
        {% if front.graphicRuleProduct.product.dataCustomers is not empty %}
            {% for data_customer in front.graphicRuleProduct.sortedDataCustomer %}
                <input type="text" name="data_customer_{{ data_customer.id }}" class="input" value="" {{ data_customer.required == true ? 'required' }} placeholder="{{ data_customer.name }}">
            {% endfor %}
        {% endif %}

        {% if front.graphicRuleProduct.product.options is not empty %}
            <select class="select" name="option" {{ front.graphicRuleProduct.product.optionRequired == true ? 'required' }}>
                <option value="">Aucune option sélectionné</option>
                {% for option in front.graphicRuleProduct.product.options %}
                    <option {{ attribute(front.graphicRuleProduct.stockOption, option.id) == false ? 'disabled' }} value="{{ option.id }}">
                        {{ option.price is not empty ? option.price }} € | {{ option.name }}
                    </option>
                {% endfor %}
            </select>
        {% endif %}

        <div class="quantity">
            <input type="number" id="quantity_5ea7f9b2bb089"
                   class="input-text qty text filled fill_inited" step="1" min="1"
                   max="{{ front.stock }}" name="quantity" value="1" title="Qté"
                   size="4" inputmode="numeric">
        </div>
        <button type="submit" class="btn btn-purple">PANIER</button>
    </form>
{% else %}
    <button type="button" disabled class="btn btn-purple">PANIER</button>
{% endif %}
