<header id="menu-section" class="header-section">
    <div class="container-fluid">
        <div class="inner-header">
            <div class="logo col-12 mb-5">
                <a href="{{ path('website.home') }}"><img src="/website/img/logo.jpg" alt="Logo"></a>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12 text-center">
                        <nav class="main-menu mobile-menu">
                            <ul>
                                {{ include('website/inc/_menu.twig') }}

                                <li><a href="">NOUS CONTACTER</a></li>
                                <li class="float-right"><a href="#">TABLEAU DE BORD <span class="badge badge-pill badge-section btn-circle">{{ basket|length }}</span></a>
                                    <ul class="drop-menu">
                                        <li><a href="{{ path('website.basket.index') }}">Panier</a></li>
                                        {% if customer_connected %}
                                            <li><a href="{{ path('website.ordered.index') }}">Mes commandes</a></li>
                                            <li><a href="{{ path('website.account.data') }}">Mon compte</a></li>
                                        {% else %}
                                            <li><a href="{{ path('account.login') }}">Connexion</a></li>
                                        {% endif %}
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </div>
</header>
