<form action="" method="post" enctype="multipart/form-data">

    {{ form_bind(graphicRuleProduct) }}
    {{ csrf('POST') }}

    <div class="row">
        <div class="col-6">

            {{ label({'value': 'Sections'}) }}
            {{ select(
                {'name': 'sections', 'class': 'select2', 'multiple': true, 'data-placeholder': 'Afficher le produit sur une ou plusieurs sections'},
                compose(sections, {'prop(id)': 'prop(id) | prop(name)'})
            ) }}

            {{ label({'value': 'Priorité'}) }}
            {{ input({'name': 'priority', 'type': 'number', 'placeholder': 'Priorité d\'affichage'}) }}

            {{ label({'value': 'Produit à recommander (3 maximum)'}) }}
            {{ select(
                {'name': 'recommended[]', 'class': 'select2', 'multiple': true, 'required': false, 'data-placeholder': 'Recommandez des produits associés'},
                compose(products, {'prop(id)': 'prop(id) | prop(name)'}),
                [null, 'product_recommended']
            ) }}

            {{ label({'value': 'Images'}) }}
            {{ input({'type': 'file', 'name': 'attach_image[]', 'placeholder': 'Attacher des images', 'required': false}) }}

            {% if context == 'update' %}
                {{ label({'value': 'Détacher des images'}) }}
                {{ select(
                    {'name': 'detach_image[]', 'required': false, 'class': 'select2', 'multiple': true, 'data-placeholder': 'Détachez des images du produit'},
                    compose(graphicRuleProduct, {'prop(id)': 'prop(name)'}, {'App\\Entities\\GraphicRuleProduct': 'images'})
                ) }}
            {% endif %}
        </div>
        <div class="col-6">
            {{ label({'value': 'Déscription'}) }}
            {{ textarea({'name': 'description', 'required': false, 'class': 'summernote'}) }}

            {% if graphicRuleProduct.product.dataCustomers is not empty %}
                <label class="mb-3">Définir les priorités d'affichage des champs de donnée client</label>
                {% for data_customer in graphicRuleProduct.product.dataCustomers %}
                    <div class="form-group">
                        <input type="text" readonly value="{{ data_customer.name }}" class="col-6 form-control
                    d-inline-block">
                        <input type="number" name="data_customer_{{ data_customer.id }}"
                               value="{{ attribute(POST, 'data_customer_' ~ data_customer.id) is not empty
                               ? attribute(POST, 'data_customer_' ~ data_customer.id) : data_customer.priority }}"
                               placeholder="Priorité d'affichage" class="form-control col-5 d-inline-block">
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    {{ input({'type': 'submit', 'value': 'Enregistrer', 'class': 'btn btn-success'}) }}
</form>

