{% extends 'manager/layout/layout.manager.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <a href="{{ path('admin.product.web.index') }}" class="btn btn-primary float-xl-right">Retour</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        {{ include('manager/product/web/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="id-active">w-product</div>
{% endblock body %}

