{% extends 'manager/layout/layout.manager.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <a href="{{ path('admin.product.web.index') }}" class="btn btn-primary col-2 float-xl-right">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">{{ graphicRuleProduct.product.name }}</h4>
                    </div>
                    <div class="card-body">
                        {{ include('manager/product/web/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="id-active">w-product</div>
{% endblock %} 
