{% extends 'manager/layout/layout.manager.html.twig' %}

{% block body %}

    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-secondary table-striped" id="datatable">
                            <thead>
                            <tr>
                                <th>Ref</th>
                                <th>Nom</th>
                                <th>Statut (sur le site)</th>
                                <th>Fiche</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for product in products %}
                                <tr>
                                    <td>
                                        <a href="{{ path('admin.product.show', {'id': product.id}) }}" class="text-bold">
                                            #{{ product.id }}
                                        </a>
                                    </td>
                                    <td>{{ product.name }}</td>
                                    <td>
                                        {% if product.graphicRule != null %}
                                            <span class="text-success text-bold">Actif</span>
                                        {% else %}
                                            <span class="text-danger text-bold">Inactif</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if product.graphicRule is not empty %}
                                            <a href="{{ path('admin.product.web.show', {'id': product.graphicRule.id}) }}" class="btn btn-primary col-2">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                            <a href="{{ path('admin.product.web.edit', {'id': product.graphicRule.id}) }}" class="btn btn-secondary col-2">
                                                <i class="fas fa-pencil-alt"></i>
                                            </a>
                                            <a href="{{ path('admin.product.web.delete', {'id': product.graphicRule.id, '_token': csrf('GET')}) }}" class="btn btn-danger col-2">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        {% else %}
                                            <a href="{{ path('admin.product.web.create', {'id': product.id}) }}" class="btn btn-success col-2">
                                                <i class="fas fa-plus-square"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="id-active">w-product</div>
{% endblock body %}
