{% extends 'manager/layout/layout.manager.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <a href="{{ path('admin.product.web.edit', {'id': graphicRuleProduct.id}) }}" class="btn btn-secondary col-2">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                        <a href="{{ path('admin.product.web.index') }}" class="btn btn-primary float-xl-right col-2">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        {% if graphicRuleProduct.images != null %}
                            <div class="col-6">
                                <img src="{{ graphicRuleProduct.images.0.publicFilename }}" class="product-image">
                            </div>
                            <div class="col-12 product-image-thumbs">
                                {% for image in graphicRuleProduct.images %}
                                    <div class="product-image-thumb"><img src="{{ image.publicFilename }}"></div>
                                {% endfor %}
                            </div>
                        {% else %}
                            Aucune image
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-secondary table-striped">
                            <tr>
                                <th>Ref</th>
                                <td>{{ graphicRuleProduct.product.id }}</td>
                            </tr>
                            <tr>
                                <th>Sections</th>
                                <td>
                                    {% if graphicRuleProduct.sections.isEmpty == false %}
                                        <table class="table table-striped table-grey table-bordered">
                                            <thead>
                                            <tr>
                                                <th>Ref</th>
                                                <th>Nom</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for section in graphicRuleProduct.sections %}
                                                <tr>
                                                    <td>{{ section.id }}</td>
                                                    <td>{{ section.name }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    {% else %}
                                        <a href="{{ path('admin.product.web.edit', {'id': graphicRuleProduct.id}) }}" class="btn btn-secondary">Ajouter</a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td>{{ graphicRuleProduct.description|raw }}</td>
                            </tr>
                            <tr>
                                <th>Produits recommandés</th>
                                <td>
                                    {% if graphicRuleProduct.recommended is not empty %}
                                        <table class="table border-0">
                                            {% for product in graphicRuleProduct.recommended %}
                                                <tr>
                                                    <th><a href="{{ path('admin.product.show', {'id': product.id}) }}" class="bold">#{{ product.id }}</a></th>
                                                    <td>{{ product.name }}</td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    {% else %}
                                        <a href="{{ path('admin.product.web.edit', {'id': graphicRuleProduct.id}) }}" class="btn btn-secondary">Ajouter</a>
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="id-active">w-product</div>
{% endblock body %}
