.alert-success,
.btn-success,
.btn-success:target {
    border-radius: 0px !important;
    background-color: #4d9b53 !important;
    border-color: #4d9b53 !important;
}

.alert-danger,
.btn-danger,
.btn-danger:target {
    border-radius: 0px !important;
    background-color: #ff533e !important;
    border-color: #ff533e !important;
}

.alert-info,
.btn-info,
.btn-info:hover,
.btn-info:target {
    border-radius: 0px !important;
    background-color: #00a5c2 !important;
    border-color: #00a5c2 !important;
}

.alert-warning,
.btn-warning,
.btn-warning:hover,
.btn-warning:target {
    border-radius: 0px !important;
    background-color: #fec840 !important;
    border-color: #fec840 !important;
}

.card {
    border-radius: 0px !important;
}

.card-success {
    background-color: #4d9b53 !important;
    border-radius: 0px;
    border: none !important;
    color: white;
}

.card-danger {
    background-color: #ff533e !important;
    border-radius: 0px;
    border: none !important;
    color: white;
}

.card-info {
    border-radius: 0px !important;
    background-color: #00a5c2 !important;
    border: none !important;
    color: white;
}

.card-warning {
    border-radius: 0px !important;
    background-color: #fec840 !important;
}

.text-success {
    color: #3fa145 !important;
}

.text-danger {
    color: #ff432e !important;;
}

.text-warning {
    color: #fdea3c !important;
}

.text-info {
    color: #00a5c2 !important;;
}

.btn {
    border-radius: 0px !important;
}


.nav-link.active {
    background-color: #00a5c2 !important;
    border-radius: 0px !important;
}

#id-active {
    visibility: hidden;
}

.select2 {
    width: 100%;
}
